@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="content-detail of-x" style="width:900px;margin-left:20%;">
    <div class="col-xs-10">
        <div style="background-image:url('/media/images/banner.jpg');width:900px;height:50px ;margin-bottom: 14px;background-repeat: no-repeat;" class="Std_Font_B">
            <div style="position:relative;">
                <p style="position:absolute;color:white;margin-left:30px;line-height: 50px; font-size:20pt"><b>Vật Tư Thông Thường</b></p>
                <p style="font-size:12px;right:16px;position:absolute;color:white;margin-right:50px;margin-bottom:30px;margin-top: 20px;">*Type Austenite</p>
            </div>
        </div>
        <ul class="treeview-menu">
            <li>
                <div style="font-size:14px; font-family:Tahoma; color:#797977; width:900px">
                    <table border="1" cellpadding="0" cellspacing="0">
                        <tr class="table-style">
                            <td align="center" bgcolor="#F0F0F0"><b>CATEGORY </b></td>
                            <td align="center" bgcolor="#F0F0F0"><b>ITEM NAME</b></td>
                            <td align="center" bgcolor="#F0F0F0"><b>SPECIFICATION</b></td>
                        </tr>
                        <tr class="table-style">
                            <td rowspan="11">Bearing</td>
                            <td> Bearing</td>
                            <td class="align-left">- Bearing Timken 135</td>

                        </tr>
                        <tr class="table-style">
                            <td> Bearing</td>
                            <td class="align-left">- Roller Bearing 22210CC(E1, RHRW33, EAE4, LH-22210CD1, E), STANDARD, 50IDx90ODx23W, SPHERICAL</td>
                        </tr>
                        <tr class="table-style">
                            <td> Bearing</td>
                            <td class="align-left">
                                - Ball Bearing 6205ZZ(2ZR, ZZ, ZZ(ZZ1), ZZ, 2Z), STANDARD, 25IDx52ODx15W, DEEP GROOVE
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td> Bearing</td>
                            <td class="align-left">
                                - Roller Bearing NUTR50110, 50IDx110ODx32W, NEEDLE
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td> Bearing</td>
                            <td class="align-left">
                                - Ball Bearing 7313BTVP, 65IDx140ODx33W, ANGULAR CONTACT
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td> Bearing</td>
                            <td class="align-left">
                                - Roller Bearing NU 2307ECP(E.M1, FY, W, -, ECJ), STANDARD, 35IDx80ODx31W, CYLINDRICAL (SKF)
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td> Bearing</td>
                            <td class="align-left">
                                - Ball Bearing 61812-2RS1(61812Y, -, -, -, 61812), STANDARD, 60IDx78ODx10W, DEEP GROOVE (SKF)
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td> Bearing</td>
                            <td class="align-left">
                                - Roller Bearing NART-12VUUR/SAMICK THK, THK, 12IDx32ODx15W, NEEDLE
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td> Bearing</td>
                            <td class="align-left">
                                - Ball Bearing 3203B2RSR , FAG, 17IDx40ODx17.5W, ANGULAR CONTACT
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td> Bearing</td>
                            <td class="align-left"> - Ball Bearing 4203ATN9, SKF, 17IDx40ODx16W, ANGULAR CONTACT</td>
                        </tr>
                        <tr class="table-style">
                            <td> Bearing</td>
                            <td class="align-left">
                                - Ball Bearing LR 5202 NPPU LR5202-2RS/INA, 15IDx40ODx15.9W, RADIAL DOUBLE ROW
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td rowspan="3">Belt</td>
                            <td>
                                Endless Belt
                            </td>
                            <td class="align-left">
                                - Varied Belt 22265W/JDC, LESAT ENDLESS BELT
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Endless Belt
                            </td>
                            <td class="align-left">
                                - Varied Belt ANDLESS BELT URELT, U528-580,
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Endless Belt
                            </td>
                            <td class="align-left">
                                - Varied Belt ANDLESS BELT URELT, for STL
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td rowspan="3">Oil</td>
                            <td>
                                Hydraulic oil
                            </td>
                            <td class="align-left">
                                - Hydraulic oil VG 68, 209l/drum, shell
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic oil
                            </td>
                            <td class="align-left">
                                - Hydraulic oil VG 46, 209 l/drum, shell
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Gear oil
                            </td>
                            <td class="align-left">
                                - 320 VG32 209 l/drum, shell
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td rowspan="3">
                                Roll Disk
                            </td>
                            <td>
                                Ceramic disk

                            </td>
                            <td class="align-left">
                                - Disk 59.5Dx310Dx4.5T, CERAMIC, FOR TILTING TOLL - CAPL
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Brush disk

                            </td>
                            <td class="align-left">
                                - Brush BRUSH DISK, 300, 0.2D, PP, STS316, ITEM NO. 2, FOR CAPL ((1set=400ea))
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Ceramic disk
                            </td>
                            <td class="align-left">
                                - Disk 00.5Dx310Dx4.5T, CERAMIC, FOR CARROUSEL HEART ROLL, APL, Me#02
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td rowspan="6">
                                Valve (Order Made)
                            </td>
                            <td>
                                BUTTERFLY

                            </td>
                            <td class="align-left">
                                - Shut-Off Valve BUTTERFLY,[KESTONE VALVE/KEYSTONR VALVE],80AA,9.8bar,45L,KS-10KFF,2W,70c,FC/SCS13/EPDM,CD,AIR(SV),L/S,WATER,AUTO WITH AIR CYLINDER,CLASS6,*SAFETY ITEM
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                BUTTERFLY

                            </td>
                            <td class="align-left">
                                - Shut-Off Valve BUTTERFLY,125A,10bar,54L,KS10WAFER,2W,ST'D,150c,FC/SUS304/EPDM,CD,AIR(SV),s,F.L,A/S,L/S,SV,WATER+AIR+OIL

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                BUTTERFLY
                            </td>
                            <td class="align-left">
                                - Shut-Off Valve BUTTERFLY(H.P),150A,10bar,56L,KS10WAFER,2W,ST'D,100c,SCS13/SUS304/RTFE,CD,AIR(SV),3s,F.C,A/S,S/C,L/S,SV,IP67,WATER+AIR+OIL+H2,CLASS6
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                BUTTERFLY
                            </td>
                            <td class="align-left">
                                - Shut-Off Valve BUTTERFLY,400A,10bar,102L,WAFER,2W,SCS13/SCS13,WATER,FOR 4BF B.S BUTTERFLY
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                BUTTERFLY
                            </td>
                            <td class="align-left">
                                - Shut-Off Valve BUTTERFLY,[ACS100/AUTOMA],Act:AD65/AUTOMA,100A,7bar,52L,KS10WAFER,2Way,ST'D,SS316/SS316/PTFE,CD,AIR(SV),A/S,S/C,L/S,SV,WATER,WITH ALS10 LIMIT SWITCH BOX
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                BUTTERFLY
                            </td>
                            <td class="align-left">
                                - Shut-Off Valve BUTTERFLY,65A,10bar,47L,KS 10K FLANGE-FF,2Way,ST'D,100c,PVDF/PVDF/FPM,CSD,AIR(SV),5s,F.C,A/S,S/C,L/S,SV,ALKALI+ACIDIC,FOR POSLX LC, LH, ME SHUT-OFF BUTTERFLY VALVE,CLASS6
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td rowspan="14">
                                Filter(Ready Made)
                            </td>
                            <td>
                                Hydraulic Filter
                            </td>
                            <td class="align-left">
                                - Filter Element HYDRAULIC,[HC7500SCP8H/PALL],ID25.4xOD302.3,INERT INORGANIC FIBER
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Filter
                            </td>
                            <td class="align-left">
                                - Filter Element HYDRAULIC,[0660 D 005 BH4HC/HYDAC] OR[02.0660 D.6VG.HR.HC.E.P/INTERNORMEN] OR[9.660LA H6XL-F00-0-M SO3000/REXROTH],5MICRON,GLASS FIBER
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Filter
                            </td>
                            <td class="align-left">
                                - Filter Element HYDRAULIC,[0950R010ON/HYDAC] OR[10.950LA H10XL-A00-6-M SO3000/REXROTH] OR[HC2296FCS14H50/PALL],10MICRON,GLASS FIBER
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Filter
                            </td>
                            <td class="align-left">
                                - Hydraulic Filter [0660 R 010 BN4HC/-V/HYDAC] OR[02.0660 R.10VG.30.HC.S.P/INTERNORMEN]_10MICRON_SYNTHETIC RESIN FIBER,HYD OIL_OIL FILLING
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Filter
                            </td>
                            <td class="align-left">
                                - Filter Element HYDRAULIC,[0850 R 003 ON/HYDAC],3 MICRON,BETAMICRON R4,FOR K5CGL SPM RETURN
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Filter
                            </td>
                            <td class="align-left">
                                - Filter Element HYDRAULIC,[CCZX3/SCHROEDER],3MICRON,4000PSI,FOR PZRM HYDRAULIC SYSTEM
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Filter
                            </td>
                            <td class="align-left">
                                - Filter Element HYDRAULIC,[NNZX3/SCHROEDER],3MICRON,3000PSI,FOR PZRM HYDRAULIC SYSTEM
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Filter
                            </td>
                            <td class="align-left">
                                - Filter Element HYDRAULIC,KZ3/SCHROEDERxOD99.06x228.6L,3MICRON,300PSI,FOR ZM03 HYDRAULIC SYSTEM
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Filter
                            </td>
                            <td class="align-left">
                                - Filter Element HYDRAULIC,[2600 R 025 W/HC/HYDAC],ID96.5xOD143x921L,25MICRON,W/HC
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Filter
                            </td>
                            <td class="align-left">
                                - Filter Element HYDRAULIC,[0330 D 025 W/HC/HYDAC],ID48xOD90x157L,25MICRON,W/HC,FOR ZRM 1&2 GEAR LUBRICATION TANK
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Filter
                            </td>
                            <td class="align-left">
                                - Filter Element OIL,HYDRAULIC,[MXA8511424/PARKER]xOD94x147L,10 MICRON,MICROGLASS,10.0BAR,70L/MIN,POMINI WORK ROLL GRINDER SPINDLE OIL SUPPLY LINE
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Filter
                            </td>
                            <td class="align-left">
                                - Filter Element [0240 D 005 BN4HC/HYDAC],005 MICRON,BN4HC,250 BAR,FOR RCL-2 HYD TANK PRESSURE FILTER.
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Filter Element
                            </td>
                            <td class="align-left">
                                - Filter Element [KKZX3/SCHROEDER] OR[BH4HC 0660/HYDAC]xOD99x457.2L,3 MICRO,210 KGF/CM2,FOR AUXILIARY TANK #2ZRM
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Air Filter
                            </td>
                            <td class="align-left">
                                - Air Filter [C 25 710/3/MANN-FILTER],ID147xOD240x539L,FOR COMPRESSOR IN #2FACTORY
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td rowspan="17">
                                General Pump
                            </td>
                            <td>
                                Centrifugal Pump
                            </td>
                            <td class="align-left">
                                - Centrifugal Pump SINGLE SUCTION VOLUTE,[HES125-250/HYOSUNG GOOD SPRINGS],220M3/HR,22M,150D/125D,4P,22kW,440V,1750rpm,GC200/GC200/SM45C/SS275,GLAND PACKING,WITHOUT MOTOR & BASE(Mechanical sea type)

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Centrifugal Pump
                            </td>
                            <td class="align-left">
                                - Centrifugal Pump SUBMERGED MOTOR,[150KSE22 2T4/KEUMJUNG],105M3/HR,30M/150D,4P,22kW,440V,60HZ,1800rpm,CAST IRON,FOR 3WRM WT P207 PUMP
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Varied Pump
                            </td>
                            <td class="align-left">
                                - Varied Pump [30-1408/SCANACON]+SA70 /ELECTRONIC BOX SDM,FOR APF
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Centrifugal Pump

                            </td>
                            <td class="align-left">
                                - Centrifugal Pump SINGLE SUCTION VOLUTE,[CHD51.5-65A/GSD],18M3/HR,Head:15M,65D/65D,1ST,4P,1.5kW,440V,1450rpm,HC200/SUS304/SUS420,MECHANICAL SEAL,WITH MOTOR 440V/3PHASE/50HZ,FOR SEWAGE SLUDGE TRANS. PUMP
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Centrifugal Pump
                            </td>
                            <td class="align-left">
                                - Centrifugal Pump SINGLE SUCTION VOLUTE,CHD53.7-100A/SHANGHAI GSD,75M3/HR,10M,100D/100D,1ST,4P,3.7kW,440V,1450rpm,HC200/SUS304/SUS420,MECHANICAL SEAL,WITH MOTOR,BASE 440V/3PHASE/50HZ,FOR SLUDGE RETURN PUMP
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Centrifugal Pump
                            </td>
                            <td class="align-left">
                                - Centrifugal Pump SINGLE SUCTION VOLUTE,3M3/HR,Head:13M,65D/40D,1ST,4P,3kW,440V,1430rpm,HT200/KMTBCR27/2CR13,/ KZJ40-19/KAIQUAN.WATER,MECHANICAL SEAL,WITH MOTOR,BASE 440V/3PHASE/50HZ, DWG NO.VST-UTI-99,FOR LIME PUMP
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Centrifugal Pump
                            </td>
                            <td class="align-left">
                                - Centrifugal Pump SINGLE SUCTION VOLUTE,5M3/HR,20M,40D/25D,2P,5.5kW,440V,2950rpm,GC200+PVDF/PVDF/SIC,FRESH ACID HN03,D/N:KMNP-15152,WITH MOTOR,BASE,FRESH ACID HN03 TANK FARM C-APL
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Centrifugal Pump
                            </td>
                            <td class="align-left">
                                - Centrifugal Pump [STO-532/SHOWFOU PUMP],2.0M3/MIN,Head:17M,100D/100D,1ST,4P,3.7kW,440V,1500rpm,WITH MOTOR(440V/3PHASE/50HZ),SEWAGE PUMP, FOR UTILITY
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Centrifugal Pump

                            </td>
                            <td class="align-left">
                                - Centrifugal Pump SINGLE SUCTION VOLUTE,25M3/HR,50M,50D/40D,4P,15kW,440V,1475rpm,GC200+25CR/25CR/SM45C/STS304,DWG.NO:KWM-50X40,FOR UT'S SLURRY PUMP
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Centrifugal Pump

                            </td>
                            <td class="align-left">
                                - Centrifugal Pump SINGLE SUCTION VOLUTE,210M3/HR,10M,150D/125D,4P,15kW,1450rpm,GC200/SUS 304/SUS 42J2,DWG.NO:HC-12527,FOR NO2 FACTORY UTILITY WWT " AX SLUDGE  PUMP"
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Centrifugal Pump
                            </td>
                            <td class="align-left">
                                - Centrifugal Pump [SSQ-212/SHOWFOU TAIWAN] OR[KSH-20/APP TAIWAN],45M3/H,50D-80D,1.5kW,220V,1750rpm,STS,SUMP PUMP,FOR WWT
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Centrifugal Pump

                            </td>
                            <td class="align-left">
                                - Centrifugal Pump SINGLE SUCTION VOLUTE,[EVT 30/LAFONTE],520,28,63D/50D,2.2kW,3 PHASE/ 220V-440V/50-60 HZ,PVDF/PVDF/SIC,FOR UT (WWT)
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Centrifugal Pump

                            </td>
                            <td class="align-left">
                                - Centrifugal Pump SUBMERGED MOTOR,[JK-20/HUNG PUMP] OR[SSQ-232/SHOWFOU],630L/M,16M/80D,1ST,1.5kW,3 PHASE 440V,FC200/FC200/SUS410,SEWAGE WATER,BY MOTOR,MECHANICAL SEAL,FOR DRAIN WATER PUMP,FOOT TYPE
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Centrifugal Pump
                            </td>
                            <td class="align-left">
                                - Centrifugal Pump [80X65 MSS10M/HYOSUNG] OR[80X65 MSS10M/EBARA CORPORATION],30M3/H,450M,80D/65D,10ST,90kW,440V,2960rpm,SUS304,FOR VBA02(Included motor)
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Centrifugal Pump
                            </td>
                            <td class="align-left">
                                - Centrifugal Pump SINGLE SUCTION VOLUTE,[MPP 501/LAFONTE] OR[SERIES2530/MET - PRO],600L/MIN,36 M,50.8D/38.1D,3kW,440V,2800rpm,CASING:GC200/ETFE,IMPELLER:PVDF,SHAFT:STS304,M/SEAL(CERAMIC/CARBON),WITH MOTOR,FOR H2SO4 UNLOADING PUMP
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Centrifugal Pump
                            </td>
                            <td class="align-left">
                                - Centrifugal Pump [GP-232/SHOWFOU],0.06M3/MIN,18M,50D/50D,2P,1.5kW,3 PHASE 220V 50HZ,3600rpm,SUS304/CAST IRON/STEEL,CERAMIC CARBON,FOR SEWAGE
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Centrifugal Pump
                            </td>
                            <td class="align-left">
                                - Centrifugal Pump SUBMERGED MOTOR,[CDLKF4-80/8/WALRUS AMERICA],3.1 M3/HR,27.4M,6ST,2P,3kW,460V,3420rpm,WATER,FOR STS1 TLL SEAM WELDER CHILLER PUMP/MOTOR
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td rowspan="21">
                                Hydraulic
                                Cylinder
                            </td>
                            <td>
                                Hydraulic Cylinder

                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWF,SD,SCREW,40Dx50ST,350kg/cm2,[AR721D40501-1/OXYTECHNIK GMBH],68DX155MM,FOR 3APL WELDER LOCKING SHEAR CYLINDER
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder

                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,TC,SCREW,100Dx70Dx1785ST,140kg/cm2,DRAWING NO:ZP6201-M001-72305A,FOR ZRM COIL STRIPPER


                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder


                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,TC,SCREW,80Dx56Dx2700ST,140kg/cm2,DWG NO:LS32021-110,FOR #3ZRM RETRACTABLE FLOOR

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder

                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,FB,SCREW,80Dx56Dx203ST,140kg/cm2,DRAWING NO:LS37033-111,FOR ZRM TOP CROWN

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder

                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,FB,SCREW,50Dx28Dx140ST,140kg/cm2,DRAWING NO:LS37031-313,FOR ZRM DOOR LATCH

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder

                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,CF,SCREW,40Dx22Dx14ST,140kg/cm2,DRAWING NO:LS37031-311,FOR ZRM SPRAY BAR

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder

                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,CA,SCREW,100Dx70Dx200ST,250kg/cm2,DWG NO:FJ-841-M31-10502,FOR ANTI CRIMPING ROLL SPM03

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder

                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,SCREW,80Dx55Dx20ST,140kg/cm2,DWG NO: Y6A-CI14M039160000,FOR SIDE TRIMMER HEAD TURN LOCKING HYD CYLINDER

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder
                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,FA,TIE ROD,63Dx35Dx150ST,140kg/cm2,DWG NO: Y6A-CI14M040390000,FOR SCRAP BALLER KICKER CLAMP HYDRAULIC CYLINDER
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder
                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,FJ,TIE ROD,177.8Dx127D,210kg/cm2,[02.00 J2HLRS23M 4 250/PARKER],FOR TLL WELDER MACHINE

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder
                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,TC,125Dx70Dx600ST,[CSH1 MT4/125/70/600 A30 / B11NSDV / D8484(R901319362)/REXROTH],WITH POS SENSOR,SPILLAGE COKE PAN 1 PUSHER CAR

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder
                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,TC,100Dx55Dx1400ST,160kg/cm2,DWG NO: Z7TCH17M1-0000-0034,FOR SPM ENTRY PAY OFF REEL

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder

                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,FA,TIE ROD,80Dx45Dx600ST,140kg/cm2,DRAW NO.CDH1/MP5/80/45/600/A1X/BICMUXWA,FOR VACUM HOIST CBL

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder

                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder TC,200Dx112Dx185ST,DWG NO:CDH1/MP5/200/112/185,FOR ENTRY SHEAR WITH PINCH ROLL

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder

                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,CB,SCREW,125Dx70Dx200ST,140kg/cm2,DWG NO:VBAL300-M303-1207-00,FOR TOP ROLL VBA02

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder
                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,FA,SCREW,40Dx18Dx25ST,210kg/cm2,DWG NO. Z-2113-13801 PARKER,FOR #2ZRM LOWER 2ND SUSPENSION ROLL

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder
                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder FA,TIE ROD,150Dx85Dx1000ST,140kg/cm2,DWG NO: CDH1/MP5/150/85/1000/A1X/BICMUXWA,FOR COIL CAR DGL

                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder
                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,FA,SCREW,63Dx36Dx40ST,210kg/cm2,DWG NO. Z-2113-13803,FOR  2ND UPPER SUSPENTION ROLL #2ZRM

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder
                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,TC,WELDING,80Dx45Dx140ST,250kg/cm2,[CDH1MT4/80/45/140A1X/X1CAETAW/REXROTH],FOR WELDER CBL

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder
                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,TC,WELDING,63Dx45Dx175ST,250kg/cm2,[CDH1MP5/63/45/175A1X/X1CAEMAA/REXROTH],FOR WELDER CBL

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Hydraulic Cylinder
                            </td>
                            <td class="align-left">
                                - Hydraulic Cylinder CWC,FC,SCREW,125Dx70Dx255ST,140kg/cm2,[140H-FC-125B-R255/CYSKO],FOR NOTCHER 'S KNIFE CAPL

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td rowspan="20">
                                Manual Valve
                            </td>
                            <td>
                                Check Valve
                            </td>
                            <td class="align-left">
                                -  Check Valve DUO-TYPE,400AX10kg/cm2X190L,FLANGE,SSC13,2CC FILTER WATER P/P DISCHARGE
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Check Valve
                            </td>
                            <td class="align-left">
                                - Check Valve SWING-TYPE,125AX10kg/cm2X280L,FLANGE,FC,WATER,TEMP:103,FOR K3H FURNACE WATER CIRCULATION

                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Check Valve
                            </td>
                            <td class="align-left">
                                - Check Valve LIFT-TYPE,DN40X165L,LIFT CHECK/DONG KANG METAL,40Ax10kg/cm2x165L,A105/ETC,FOR FINEX DEMO PLANT COAL DISTRIBUTOR,CHO ROCK IND
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Manual Valve
                            </td>
                            <td class="align-left">
                                - Manual Valve GATE,200A,10KG/CM2,KS-FLANGE-RF,292L,HANDLE,STRAIGHT,Body:SCS13,Seat:SCS13,Dis/Bal:SCS13,2WAY,200Cel,WATER(SEA)+AIR
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Manual Valve
                            </td>
                            <td class="align-left">
                                - Manual Valve BALL,125A,10KG/CM2,KS-FLANGE-FF,356L,HANDLE,STRAIGHT,FULL,Body:SCS13,Seat:PTFE,Dis/Bal:STS304,2WAY,250Cel,GAS(COG)+WATER
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Manual Valve
                            </td>
                            <td class="align-left">
                                - Manual Valve BALL,50A,10KG/CM2,KS-FLANGE-FF,175L,LEVER,STRAIGHT,FULL,Body:SCPH2,Seat:PTFE,Dis/Bal:SUS304,2WAY,100Cel,WATER+AIR
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Manual Valve
                            </td>
                            <td class="align-left">
                                - Manual Valve BALL,100A,10KG/CM2,KS-FLANGE-RF,229L,LEVER,STRAIGHT,FULL,Body:SCS13,Seat:PTFE,Dis/Bal:STS304 / SCS13,2WAY,70Cel,KSB2308,WATER+AIR
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Manual Valve
                            </td>
                            <td class="align-left">
                                - Manual Valve BALL,150A,10KG/CM2,KS-FLANGE-RF,394L,LEVER,STRAIGHT,FULL,Body:SCS13,Seat:PTFE,Dis/Bal:STS304 / SCS13,2WAY,70Cel,KSB2308,WATER+AIR
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Manual Valve
                            </td>
                            <td class="align-left">
                                - Manual Valve BALL,[9000 SERIES/MARWINVALVE] OR[AKUTHWZM/KITZ],20A,DIN-THREAD,79L,HANDLE,STRAIGHT,Body:CF8M,Seat:RPTFE,Dis/Bal:316/304SS/VINYL,Seal:PTFE,177Cel,FOR H202 TANK,PICKLING,SALT BATH CAPL
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Manual Valve
                            </td>
                            <td class="align-left">
                                - Manual Valve BUTTERFLY,[567/GF],150A (6"),10 BAR,KS-FLANGE-FITTING,72L,HANDLE,STRAIGHT,REDUCING,Body:EPDM,Seat:EPDM/FPM,Dis/Bal:PVC, CPVC, PVDF, OR BETA-PP,Seal:EPDM OR FPM,0 TO 90Cel,FOR HN03,HF,NA2S.. CAPL
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Manual Valve
                            </td>
                            <td class="align-left">
                                - Manual Valve BUTTERFLY,[567/GF],200A (8"),10 BAR,KS-FLANGE-FITTING,73L,HANDLE,STRAIGHT,REDUCING,Body:EPDM,Seat:EPDM/FPM,Dis/Bal:PVC, CPVC, PVDF, OR BETA-PP,Seal:EPDM OR FPM,0 TO 90Cel,FOR HN03,HF,NA2S.. CAPL
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Manual Valve
                            </td>
                            <td class="align-left">
                                - Manual Valve GLOBE,100A,10K,-FF,Body:SCS13A,Seat:304+RTFE,SW,BB OS&Y For Big maintenance #02 VBA
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Manual Valve
                            </td>
                            <td class="align-left">
                                - Manual Valve BUTTERFLY,100A,10KG/CM2,KS-FLANGE-FF,54L,GEAR(H/W),Body:SCPH2,Seat:METAL,Dis/Bal:SCS13,2WAY,350Cel,FOR 2PL MIXED GAS
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Manual Valve
                            </td>
                            <td class="align-left">
                                - Manual Valve BUTTERFLY,[567/GF],80A(3"),10 BAR,KS-FLANGE-FF,49L,HANDLE,REDUCING,Body:EPDM,Seat:EPDM/FPM,Dis/Bal:DIS/BAL:PVC, CPVC, PVDF, OR BETA-PP,0 TO 90Cel,FOR HN03,HF,NA2S.. CAPL
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Manual Valve
                            </td>
                            <td class="align-left">
                                - Manual Valve BUTTERFLY,[57/ASAHI],350A(14"),1 MPA,DIN-FLANGE-FF,129L,GEAR(H/W),Body:PVDF,Seat:FPM,Dis/Bal:PVC/PP/PVDF,Seal:EPDM/FKM,2WAY,100Cel,FOR RETURN TANK MP,EP  CAPL
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Manual Valve
                            </td>
                            <td class="align-left">
                                - Manual Valve BUTTERFLY,[567/GF],6"(150A),0-10BAR,DIN-FLANGE-FF,72L,GEAR(H/W),ANGLE,Body:EPDM,Seat:EPDM/FPM,Dis/Bal:PVC, CPVC, PVDF OR BETA-PP,Seal:EPDM OR FPM,,2WAY,0 TO 90CELCel,FOR EP, MP TANK CAPL
                        </tr>
                        <tr class="table-style">
                            <td>
                                Manual Valve
                            </td>
                            <td class="align-left">
                                - Manual Valve DIAPHRAGM,[PLD20-0198-LINED PLASTIC DIAPHRAGM VALVE/FLUONICS],25A,8 BAR,KS-FLANGE-FF,130L,HANDLE,STRAIGHT,Body:PPS+GF40% PP+GF 30%,U-PVC,Seat:PTFE/EPDM,Dis/Bal:PTFE/EPDM,2WAY,260Cel,JIS 10K,FOR HF ACID MPCT1,2 TANK CAPL
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Manual Valve
                            </td>
                            <td class="align-left">
                                - Manual Valve GLOBE,[DGH-1F/DONG JIN] OR[JIS 10K CAST IRON GLOBE VALVE/YAMATO VALVE],/ JOEUN KOREA .150A,10K,KS-FLANGE-FF,410L,Body:CAST IRON,Dis/Bal:BRONZE,120Cel,FOR COOLANT SYSTEMS #2ZRM For Big maintenance #02ZM
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Manual Valve
                            </td>
                            <td class="align-left">
                                - Manual Valve DIAPHRAGM,[517(185.517.754)/GEORG FISCHER],(D32 DN25 MM),10BAR,KS-FLANGE-FF,160L,HANDLE,STRAIGHT,Body:PTFE,Seat:FKM,Dis/Bal:PTFE,120Cel,FOR EP,MP TANK CAPL
                            </td>
                        </tr>
                        <tr class="table-style">
                            <td>
                                Manual Valve
                            </td>
                            <td class="align-left">
                                - Manual Valve DIAPHRAGM,[342.15/AGRU],D32 (DA(OD),KS-BUTT WELDING,Body:PPR,Seat:PTFE,Dis/Bal:PVDF,Seal:FKM,CODE : 72.342.1532.11, DETAIL SDR11 ISO S-5,FOR ACID PIPING (MP,EP)CAPL
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>




@section LeftMenu {
    <ul class="menu-vertical" style="color:gray;margin-top:18.5px;">
        <li class="mv-item border-menu" style="background-color:white;border-top:1px solid gray"><a href="recruitment.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma">▶&nbsp;&nbsp;<b>Recruitment</b></a></li>
        <li class="mv-item border-menu" style="background-color:white;border-bottom:1px solid gray;border-top:1px solid gray"><a href="scrap-bidding.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma">▶&nbsp;&nbsp;<b>Scrap Bidding</b></a></li>
        <li class="mv-item border-menu" style="background-color:white;border-top:1px solid gray;"><a href="javascript:accordionMenu()" style="font-size: 11pt;font-weight:bold">▶&nbsp;&nbsp;Purchasing</a></li>
        <li class="active-sub">
            <div class="acc">
                <div class="acc__card styte-boder">
                    <div class="acc__title">
                        <b>Tình hình mua vật tư&#10507;</b>
                    </div>
                    <div class="acc__panel  styte-boder">
                        <a href="vat-tu-chinh.html">▶ Vật Tư Chính</a>
                    </div>
                    <div class="acc__panel  styte-boder">
                        <a href="vat-tu-thong-thuong.html">▶ Vật Tư Thông Thường</a>
                    </div>

                </div>
                <div class="acc__card styte-boder">
                    <div class="acc__title">
                        <b>Hướng Dẫn Tiêu Chuẩn&#10507;</b>

                    </div>
                    <div class="acc__panel  styte-boder">
                        <a href="van-hanh-item-code.html">▶ Vận Hành Item Code</a>
                    </div>
                    <div class="acc__panel  styte-boder">
                        <a href="quan-ly-chuoi-cung-ung.html">▶ Quản Lý Chuỗi Cung Ứng</a>
                    </div>
                    <div class="acc__panel  styte-boder">
                        <a href="nguyen-tac-dau-thau.html">▶ Nguyên Tắc Đấu Thầu</a>
                    </div>
                    <div class="acc__panel  styte-boder">
                        <a href="dau-thau-dien-tu.html">▶ Đấu Thầu Điện Tử</a>
                    </div>
                    <div class="acc__panel  styte-boder">
                        <a href="giao-hang-va-thanh-toan.html">▶ Giao Hàng Và Thanh Toán</a>
                    </div>
                    <div class="acc__panel  styte-boder">
                        <a href="xu-ly-vat-tu-khong-dat.html">▶ Xử Lý Vật Tư Không Đạt</a>
                    </div>
                </div>
                <div class="acc__card styte-boder">
                    <div class="acc__title">
                        <b>Đăng Ký Nhà Cung Cấp&#10507;</b>
                    </div>
                    <div class="acc__panel  styte-boder">
                        <a href="tinh-hinh-dang-ky.html">▶ Tình Hình Đăng Ký</a>
                    </div>
                    <div class="acc__panel  styte-boder">
                        <a href="cach-thuc-dang-ky.html">▶ Cách Thức Đăng Ký</a>
                    </div>
                    <div class="acc__panel  styte-boder">
                        <a href="bieu-mau-dang-ky.html">▶ Biểu Mẫu Đăng Ký</a>
                    </div>
                </div>
                <div class="acc__card styte-boder">
                    <div class="acc__title">
                        <b>Chuẩn Mực Đạo Đức &#10507;</b>
                    </div>
                    <div class="acc__panel  styte-boder">
                        <a href="khai-niem.html">▶ Khái Niệm</a>
                    </div>
                    <div class="acc__panel styte-boder">
                        <a href="tom-tat-tieu-chuan.html">▶ Tóm Tắt Tiêu Chuẩn</a>
                    </div>

                </div>

            </div>
        </li>
        <li class="mv-item border-menu styte-boder" style="background-color:white;border-bottom:1px solid gray"><a href="ethics.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma">▶&nbsp;&nbsp;<b>Ethics </b></a></li>
    </ul>

}