@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-detail of-x" style="width:900px;margin-left:20%;">
    <div class="col-xs-10">
        <table border="0" cellspacing="0" cellpadding="0" style="margin-top:20px;width:900px">
            <tr>
                <td colspan="3">
                    <table width="890px">
                        <!-- BODY -->
                        <tr>

                            <td style="background-image:url('/media/images/banner.jpg');width:890px;height:50px;background-repeat: no-repeat;margin-left:10px" ; class="Std_Font_B">
                                <div style="position:relative;margin-bottom: 30px;">
                                    <p style="position:absolute;color:white;margin-left:30px;margin-bottom:30px; font-size:20pt"><b>No.4/HL Surface</b></p>
                                    <p style="font-size:12px;right:16px;position:absolute;color:white;margin-right:50px;margin-bottom:30px;margin-top: 20px;">*Type Austenite</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="wow fadeInUp" data-wow-delay="0.3s" style="width:890px">
                                <p class="Title1"><h4> Characteristics</h4></p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="content_description" style="font-family:Tahoma">
                                    <p>
                                        <b>
                                            &nbsp;&nbsp;&nbsp; - No. 4 (D) finish: given shiny abrasive-polishing, with polishing belt, etc. to 2B or BB. Polish grit No. #150- #180.<br />
                                            &nbsp;&nbsp;&nbsp; - No. 4 (W) finish: given shiny abrasive-wet-polishing, with polishing belt, etc. to 2B or BB. Polish grit No. #150- #180. Polished more rough than dry type No.4(D).<br />
                                            &nbsp;&nbsp;&nbsp; - HL finish: given shiny abrasive-polishing in longitudinal direction continuosly, with polishing belt, etc. to 2B, or BB . Polish grit No. #150- #240.<br />
                                            <div style="margin-left:25%">
                                                <a href="~/media/images/VSTspecilizied/No_4hl_1.png" data-lightbox="image-1" data-title="Posco">
                                                    <img src="~/media/images/VSTspecilizied/No_4hl_1.png" alt="" width="60%" height="60%" />
                                                </a>
                                            </div>
                                        </b>
                                    </p>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="wow fadeInUp" data-wow-delay="0.3s">
                                <p class="Title1"><h4>Products Available</h4></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="content_description" style="font-family:Tahoma">
                                    <p>
                                        <b>
                                            &nbsp;&nbsp;&nbsp;  STS 304 and STS 430 : Hot rolled coil, Cold rolled coil<br />
                                        </b>
                                    </p>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="wow fadeInUp" data-wow-delay="0.3s">
                                <p class="Title1"><h4>Applications</h4></p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="content_description" style="font-family:Tahoma">
                                    <p>
                                        <b>
                                            &nbsp;&nbsp;&nbsp;  Used for various application of building interior, kitchen wares, medical equip’t,etc...<br />
                                        </b>
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-repeat: no-repeat;margin-left:10px">
                                <a href="~/media/images/VSTspecilizied/No_4hl_2.png" data-lightbox="image-1" data-title="Posco">
                                    <img src="~/media/images/VSTspecilizied/No_4hl_2.png" alt="" width="100%" height="100%" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

@section LeftMenu {
    <ul class="menu-vertical" style="color:gray;margin-top:18.5px;">
        <li class="mv-item" style="background-color:white;border-top:1px solid gray;"><a href="javascript:ProductionProcess()" style="font-size: 11pt;font-weight:bold">▶&nbsp;&nbsp;Production Process</a></li>
        <li class="sub-mv-item Production" style="background-color: white; border-top: 1px solid gray; display: none;"><a href="production-process-2b.html" style="font-size: 11pt;"><p class="showmuiten1" style="margin-right: 10px; display: none;">▶</p>  2B</a></li>
        <li class="sub-mv-item Production" style="background-color: white; border-top: 1px solid gray; display: none;"><a href="production-process-ba.html" style="font-size: 11pt;"><p class="showmuiten1" style="margin-right: 10px; display: none;">▶</p>  BA</a></li>
        <li class="sub-mv-item Production" style="background-color: white; border-top: 1px solid gray; display: none;"><a href="precision.html" style="font-size: 11pt;"><p class="showmuiten1" style="margin-right: 10px; display: none;">▶</p>  Precision</a></li>
        <li class="sub-mv-item Production" style="background-color: white; border-top: 1px solid gray; display: none;"><a href="surface-processing.html" style="font-size: 11pt;"><p class="showmuiten1" style="margin-right: 10px; display: none;">▶</p>  Surface Processing</a></li>

        <!-- class="sub-mv-item Production" -->

        <li class="mv-item border-menu" style="background-color:white;border-top:1px solid gray;"><a href="javascript:series()" style="font-size: 11pt;font-weight:bold">▶&nbsp;&nbsp;Products</a></li>

        <li class="sub-mv-item series" style="background-color:white;border-top:1px solid gray; display: none;"><a href="javascript:testclick300()" style="font-size: 11pt;"><p class="" style="margin-right:10px;display:none"></p><b>Series 300 &nbsp; &#10507;</b></a></li>

        <li class="subsub-mv-item 300" style="background-color:white; border-top: 1px solid gray; display: none;"><a href="304304l.html" style="font-size: 11pt;"><p class="showmuiten2" style="margin-right:10px;display:none">▶</p>  304/304L</a></li>
        <li class="subsub-mv-item 300" style="background-color:white; border-top: 1px solid gray; display: none;"><a href="301301l.html" style="font-size: 11pt;"><p class="showmuiten2" style="margin-right:10px;display:none">▶</p>  301/301L</a></li>
        <li class="subsub-mv-item 300" style="background-color:white; border-top: 1px solid gray; display: none;"><a href="316316l.html" style="font-size: 11pt;"><p class="showmuiten2" style="margin-right:10px;display:none"> ▶</p>  316/316L</a></li>
        <li class="subsub-mv-item 300" style="background-color:white; border-top: 1px solid gray; display: none;"><a href="321.html" style="font-size: 11pt;"><p class="showmuiten2" style="margin-right:10px;display:none"> ▶</p>  321</a></li>
        <li class="subsub-mv-item 300" style="background-color:white; border-top: 1px solid gray; display: none;"><a href="310s.html" style="font-size: 11pt;"><p class="showmuiten2" style="margin-right:10px;display:none">▶</p>   310S</a></li>

        <li class="sub-mv-item series" style="background-color:white;border-top:1px solid gray; display: none;"><a href="javascript:testclick400()" style="font-size: 11pt;"><p class="" style="margin-right:10px;display:none"></p><b>Series 400 &nbsp; &#10507;</b></a></li>
        <li class="subsub-mv-item 400" style="background-color:white;border-top:1px solid gray; display: none;"><a href="409l.html" style="font-size: 11pt;"><p class="showmuiten2" style="margin-right:10px;display:none">▶</p>   409L</a></li>
        <li class="subsub-mv-item 400" style="background-color:white;border-top:1px solid gray; display: none;"><a href="410s.html" style="font-size: 11pt;"><p class="showmuiten2" style="margin-right:10px;display:none">▶</p>   410S</a></li>
        <li class="subsub-mv-item 400" style="background-color:white;border-top:1px solid gray; display: none;"><a href="430.html" style="font-size: 11pt;" "><p class="showmuiten2" style="margin-right:10px;display:none">▶</p>   430</a></li>
        <li class="subsub-mv-item 400" style="background-color:white;border-top:1px solid gray; display: none;"><a href="430j1l.html" style="font-size: 11pt;"><p class="showmuiten2" style="margin-right:10px;display:none">▶</p>   430J1L</a></li>
        <li class="subsub-mv-item 400" style="background-color:white;border-top:1px solid gray; display: none;"><a href="436l.html" style="font-size: 11pt;"><p class="showmuiten2" style="margin-right:10px;display:none">▶</p>   436L</a></li>
        <li class="subsub-mv-item 400" style="background-color:white;border-top:1px solid gray; display: none;"><a href="439430lx.html" style="font-size: 11pt;"><p class="showmuiten2" style="margin-right:10px;display:none">▶</p>   439/430LX</a></li>
        <li class="subsub-mv-item 400" style="background-color:white;border-top:1px solid gray; display: none;"><a href="441.html" style="font-size: 11pt;"><p class="showmuiten2" style="margin-right:10px;display:none">▶</p>   441</a></li>
        <li class="subsub-mv-item 400" style="background-color:white;border-top:1px solid gray; display: none;"><a href="444.html" style="font-size: 11pt;"><p class="showmuiten2" style="margin-right:10px;display:none">▶</p>   444</a></li>
        <li class="subsub-mv-item 400" style="background-color:white;border-top:1px solid gray; display: none;"><a href="420j1420j2.html" style="font-size: 11pt;"><p class="showmuiten2" style="margin-right:10px;display:none">▶</p>   420J1/420J2</a></li>
        <li class="subsub-mv-item 400" style="background-color:white;border-top:1px solid gray; display: none;"><a href="420n1.html" style="font-size: 11pt;" "><p class="showmuiten2" style="margin-right:10px;display:none"> ▶</p>   420N1</a></li>

        <li class="mv-item" style="background-color:white;border-bottom:1px solid gray;border-top:1px solid gray;"><a href="javascript:sanphammoimenu()" style="font-size: 11pt;font-weight:bold">▶&nbsp;&nbsp;VST Specilized Products</a></li>
        <li class="sub-mv-item sanphammoi" style="background-color:white;border-bottom:1px solid gray; display: block;"><a href="301cu.html" style="font-size: 11pt;"><p class="showmuiten1" style="margin-right:10px;display:none">▶</p>   301Cu</a></li>
        <li class="sub-mv-item sanphammoi" style="background-color:white;border-bottom:1px solid gray; display: block;"><a href="304cu.html" style="font-size: 11pt;"><p class="showmuiten1" style="margin-right:10px;display:none">▶</p>   304Cu</a></li>
        <li class="sub-mv-item sanphammoi" style="background-color:white;border-bottom:1px solid gray; display: block;"><a href="329j3l.html" style="font-size: 11pt;"><p class="showmuiten1" style="margin-right:10px;display:none">▶</p>  329J3L</a></li>
        <li class="sub-mv-item sanphammoi" style="background-color:white;border-bottom:1px solid gray; display: block;"><a href="430re.html" style="font-size: 11pt;"><p class="showmuiten1" style="margin-right:10px;display:none">▶</p>   430RE</a></li>
        <li class="sub-mv-item sanphammoi" style="background-color:white;border-bottom:1px solid gray; display: block;"><a href="445nf.html" style="font-size: 11pt;"><p class="showmuiten1" style="margin-right:10px;display:none">▶</p>   445NF</a></li>
        <li class="sub-mv-item sanphammoi" style="background-color:white;border-bottom:1px solid gray; display: block;"><a href="no4-hl-surface.html" style="font-size: 11pt;" class="act_sub"><p class="showmuiten1" style="margin-right: 10px; display: inline;">▶</p>   No.4/HL Surface</a></li>
        <!-- class="sub-mv-item sanphammoi" -->
    </ul>
    }