@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-detail" style="width:980px;margin-left:20%">
    <div class="col-xs-10">
        <center><h4 class="wow fadeInUp" data-wow-delay="0.3s" style="margin-left:auto; margin-right:auto">FACILITIES</h4></center>

        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:20px;">
            <tr>
                <td width="300"><a href="~/media/images/Facilities/Facilities01.png" data-lightbox="image-1" data-title="Posco"><img class="wow fadeInUp lazy" data-wow-delay="0.7s" data-src="/media/images/Facilities/Facilities01.png" width="100%" height="230" /></a></td>
                <td width="10"></td>
                <td width="300" valign="top" bgcolor="#E8E8E8" style="font-family :Tahoma; font-size:15px; color:#797977">
                    <p style="margin-left:25px; margin-right:25px">
                        POSCO VST is always a  top priority in the training of
                        professional and skilled staff, especially for  industrial
                        engineering and mechanical engineering,
                        electrical industry.
                    </p>
                </td>
            </tr>
            <tr>
                <td width="300" align="center" valign="top" style="font-family:Tahoma; font-size:15px; color:#797977"><b>Medical room</b></td>
                <td width="10"></td>
                <td width="300" valign="top" bgcolor="#E8E8E8">&nbsp;</td>
            </tr>
            <tr>
                <td width="300" valign="top" bgcolor="#D6E9F8" style="font-family:Tahoma; font-size:15px; color:#797977">
                    <p style="margin-left:25px; margin-right:25px">
                        With a dynamic working  environment, creativity along with the remuneration policy of the Company and  the professional training program ...
                    </p>
                </td>
                <td width="10"></td>
                <td width="300" valign="top"><a href="~/media/images/Facilities/Facilities02.jpg" data-lightbox="image-1" data-title="Posco"><img class="wow fadeInUp lazy" data-wow-delay="0.8s" data-src="/media/images/Facilities/Facilities02.jpg" width="100%" height="230" /></a></td>
            </tr>
            <tr>
                <td width="300" valign="top" bgcolor="#D6E9F8">&nbsp;</td>
                <td width="10"></td>
                <td width="300" align="center" valign="top" style="font-family:Tahoma; font-size:15px; color:#797977"><b>Library</b></td>
            </tr>
            <tr>
                <td width="300" valign="top"><a href="~/media/images/Facilities/Facilities03.jpg" data-lightbox="image-1" data-title="Posco"><img class="wow fadeInUp lazy" data-wow-delay="0.9s" data-src="/media/images/Facilities/Facilities03.jpg" width="100%" height="230" /></a></td>
                <td width="10"></td>
                <td width="300" valign="top" bgcolor="#F7EECE" style="font-family:Tahoma; font-size:15px; color:#797977">
                    <p style="margin-left:25px; margin-right:25px">
                        POSCO VST will be a  convergence of talent to contribute to the overall success of the company.
                    </p>
                </td>
            </tr>
            <tr>
                <td width="300" align="center" valign="top" style="font-family:Tahoma; font-size:15px; color:#797977"><b>Sports room</b></td>
                <td width="10"></td>
                <td width="300" valign="top" bgcolor="#F7EECE">&nbsp;</td>
            </tr>
            <tr>
                <td width="300" valign="top" bgcolor="#E8E2FE" style="font-family:Tahoma; font-size:15px; color:#797977">
                    <p style="margin-left:25px; margin-right:25px">
                        POSCO VST has a clean and hygienic restaurant
                    </p>
                </td>
                <td width="10"></td>
                <td width="300" valign="top"><a href="~/media/images/Facilities/Facilities04.jpg" data-lightbox="image-1" data-title="Posco"><img class="wow fadeInUp lazy" data-wow-delay="1.0s" data-src="/media/images/Facilities/Facilities04.jpg" width="100%" height="230" /></a></td>
            </tr>
            <tr>
                <td width="300" valign="top" bgcolor="#E8E2FE">&nbsp;</td>
                <td width="10"></td>
                <td width="300" align="center" valign="top" style="font-family:Tahoma; font-size:15px; color:#797977"><b>Restaurant</b></td>
            </tr>
            <tr>
                <td width="300" valign="top"><a href="~/media/images/Facilities/Facilities05.jpg" data-lightbox="image-1" data-title="Posco"><img class="wow fadeInUp lazy" data-wow-delay="1.1s" data-src="/media/images/Facilities/Facilities05.jpg" width="100%" height="230" /></a></td>
                <td width="10"></td>
                <td width="300" valign="top" bgcolor="#E8E8E8" style="font-family:Tahoma; font-size:15px; color:#797977">
                    <p style="margin-left:25px; margin-right:25px">
                        PSOCO VST offer the best environment to work
                    </p>
                </td>
            </tr>
            <tr>
                <td width="300" align="center" valign="top" style="font-family:Tahoma; font-size:15px; color:#797977"><b>Propessionnal work environment</b></td>
                <td width="10"></td>
                <td width="300" valign="top" bgcolor="#E8E8E8">&nbsp;</td>
            </tr>
            <tr>
                <td width="300" valign="top" bgcolor="#D6E9F8" style="font-family:Tahoma; font-size:15px; color:#797977">
                    <p style="margin-left:25px; margin-right:25px">
                        PSOCO VST is committed to improving the skills of its employees.
                    </p>
                </td>
                <td width="10"></td>
                <td width="300" valign="top" style="float:left">
                    <a href="~/media/images/Facilities/Facilities06.jpg" data-lightbox="image-1" data-title="Posco">
                        <img class="wow fadeInUp lazy" data-wow-delay="1.2s" data-src="/media/images/Facilities/Facilities06.jpg" width="388px" height="230" />
                    </a>
                </td>
            </tr>
            <tr>
                <td width="300" valign="top" bgcolor="#D6E9F8">&nbsp;</td>
                <td width="10"></td>
                <td width="300" align="center" valign="top" style="font-family:Tahoma; font-size:15px; color:#797977"><b>Trainning for Emplyees</b></td>
            </tr>
        </table>
    </div>
</div>

@section LeftMenu {
    <ul class="menu-vertical" style="color:gray;margin-top:18.5px;font-size:8px;">
        <li class="mv-item border-menu" style="background-color:white;border-top:1px solid gray;border-bottom:1px solid gray"><a href="news-information.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma">▶&nbsp;&nbsp;<b>News & Information</b></a></li>
        <li class="mv-item border-menu" style="background-color:white;border-bottom:1px solid gray;"><a href="facilities.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma; background-color:#a2c9f0">▶&nbsp;&nbsp;<b>Facilities</b></a></li>
        <li class="mv-item border-menu" style="background-color:white;border-bottom:1px solid gray;"><a href="coporate-citizen.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma">▶&nbsp;&nbsp;<b>Coporate Citizen</b></a></li>
    </ul>
}

@section footerJs{
    @Scripts.Render("~/js/jquery.lazy")
    <script>
        $(function () {
            $('.lazy').lazy();
        });
    </script>
}
