@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-detail" style="width:980px;margin-left:20%;">
    <div class="col-xs-10">
        <center><h4 class="wow fadeInUp" data-wow-delay="0.6s">HISTORY OF POSCO VST</h4></center>
        <div>
            <p><b><font color="blue" size="+1">2004</font></b>_________________________________________________________________________________________________</p>
            <p><img class="lazy" data-src="/media/images/his_2004.png" width="350px" height="250px" align="right" style="margin-left:50px">Start as the company name of ASC 05/2006. Factory began operations with the producttivity of 30,000 Ton/ Year.</p>
        </div>
        <div>
            <p><b><font color="blue" size="+1">2009</font></b>_________________________________________________________________________________________________</p>
            <p><img class="lazy" data-src="/media/images/his_2009.png" width="350px" height="250px" align="right" style="margin-left:50px">Took over from ASC and named POSCO VST.</p>
        </div>
        <div>
            <p><b><font color="blue" size="+1">2010</font></b>_________________________________________________________________________________________________</p>
            <p><img class="lazy" data-src="/media/images/his_2010.png" width="350px" height="250px" align="right" style="margin-left:50px">Completion of Construction</p>
            <p>* Completed the 2nd phase over all construction of stainless steel production plant No.1 (30,000 -> 75,000 Ton/ Year)</p>
            <p>* Completed construction of Precision (70,000 -> 85,000 Ton/Year)</p>
        </div>
        <div>
            <p><b><font color="blue" size="+1">2012</font></b>_________________________________________________________________________________________________</p>
            <p><img class="lazy" data-src="/media/images/his_2012.png" width="350px" height="250px" align="right" style="margin-left:50px">Completed the construction of the cold rooled stainless steel production plant No.2 (85,000 -> 235,000 Ton/Year)</p>
        </div>
        <div>
            <p><b><font color="blue" size="+1">2015</font></b>_________________________________________________________________________________________________</p>
            <p><b><img class="lazy" data-src="/media/images/his_2015.png" width="350px" height="250px" align="right" style="margin-left:50px">Vietnam Stainless Steel Conference</b></p>
            <p>Hold the 1st Stainless Steel Development Conference in Vietnam</p>
        </div>
        <div>
            <p><b><font color="blue" size="+1">2016</font></b>_________________________________________________________________________________________________</p>
            <p><b><img class="lazy" data-src="/media/images/his_2016.png" width="350px" height="250px" align="right" style="margin-left:50px">Productive Maturity</b></p>
            <p>Achieves the company wide production of 200,000 Tons/ Year</p>
        </div>
        <div>
            <p><b><font color="blue" size="+1">2017</font></b>_________________________________________________________________________________________________</p>
            <p><b>Achievement of Quanlity System</b></p>
            <p><img class="lazy" data-src="/media/images/his_2017.png" width="350px" height="250px" align="right" style="margin-left:50px">Acquires Quality Assurance System Certificate for Manufacturer of Materials</p>
        </div>
        <div>
            <p> <b><font color="blue" size="+1">2018</font></b>_________________________________________________________________________________________________</p>
            <p><b><img class="lazy" data-src="/media/images/his_2018.png" width="350px" height="250px" align="right" style="margin-left:50px">Strengthe Relationships</b></p>
            <p>* Acquires ISO 14001:2015 Certificate for Envirnmental Management System</p>
            <p>* Entered into an agreement for joint the Vietnam – Republic of Korea Friendship Association</p>
        </div>
        <div>
            <p><b><font color="blue" size="+1">2019</font></b>_________________________________________________________________________________________________</p>
            <p><b><img class="lazy" data-src="/media/images/his_2019.png" width="350px" height="250px" align="right" style="margin-left:50px">Anniversary of Founding of POSCO VST 10th</b></p>
        </div>
    </div>
</div>
@section LeftMenu {
    <ul class="menu-vertical" style="color:gray;margin-top:18.5px;font-size:8px;">
        <li class="mv-item border-menu" style="background-color:white;border-top:1px solid gray"><a href="introduction.html" style="font-size: 11pt; font-weight:bold">▶&nbsp;&nbsp;<b>Introduction</b></a></li>
        <li class="mv-item border-menu" style="background-color:white;border-bottom:1px solid gray;border-top:1px solid gray"><a href="vision.html" style="font-size: 11pt; font-weight:bold">▶&nbsp;&nbsp;<b>Vision</b></a></li>
        <li class="mv-item border-menu" style="background-color:white;border-bottom:1px solid gray"><a href="history.html" style="font-size: 11pt; font-weight:bold; background-color:#a2c9f0">▶&nbsp;&nbsp;<b>History</b></a></li>
        <li class="mv-item border-menu" style="background-color:white;border-bottom:1px solid gray"><a href="organization.html" style="font-size: 11pt; font-weight:bold">▶&nbsp;&nbsp;<b>Organization</b></a></li>
    </ul>
}
@section headerCss {
    <style>
        @@media screen and (max-width: 1024px) {
            .content-detail .col-xs-11 {
                overflow: hidden !important;
            }
        }
    </style>
}
@section footerJs{
    @Scripts.Render("~/js/jquery.lazy")
    <script>
        $(function () {
            $('.lazy').lazy({
                threshold: 0
            });
        });
    </script>
}