@model DTO.CoporateCitizenContentDTO
@{
    ViewBag.Title = "Newsroom";
    Layout = "~/Views/Shared/_Layout_NoLeftCategory.cshtml";
}

<div id="content-wrap" style="width:1350px;margin:auto;">
    <div class="content-detail sub single post" style="width:980px;margin-left:20%">
        <div class="col-xs-10">
            <article class="post_detail">
                <div class="info">
                    <h1 class="post_title">@Model.CoporateCitizenCategory.Title</h1>
                    <div class="meta">
                        <span class="date">@Convert.ToDateTime(@Model.CoporateCitizenCategory.DatePosted).ToShortDateString()</span>
                    </div>
                </div>
                <div class="post_content_wrap">
                    <div class="post_content">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

@section headerCss {
    <style>
        #content h1, h2, h3, h4, h5, h6 {
            font-weight: 500;
            font-size: 30px;
        }

        h1 {
            font-size: 2em;
        }

        strong {
            font-weight: 500;
        }

        .sp_cont_wrap div {
            max-width: 100%;
        }

        .single .post_detail .info {
            position: relative;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }

        .single .post_detail .post_title {
            margin-bottom: 30px;
            font-size: 30px;
            line-height: 1.6;
        }

        .single .post_detail .meta {
            font-size: 15px;
            color: #666;
        }

        img.aligncenter.size-full.wp-image-71390,
        .single .post_content img {
            border: 0;
            width: 100% !important;
            vertical-align: middle;
        }

        .single .post_content div {
            margin: 0.7em 0 1.6em 0;
        }

        .single .post_content {
            padding: 20px 0;
            font-size: 17px;
            color: #454545;
            line-height: 1.8;
        }

            .single .post_content div {
                margin: 0.7em 0 1.6em 0;
            }

        .video_wrap {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
            margin-bottom: 1.2em;
        }

            .video_wrap iframe {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                border: 0;
            }
    </style>
}