@model IEnumerable<DTO.DocumentDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-detail" style="width:980px;margin-left:20%">
    <div class="col-xs-10">
        <h4 class="wow fadeInUp" data-wow-delay="0.3s" style="margin-left:auto; margin-right:auto"><center>ABOUT STAINLESS STEEL</center></h4>
        <div style="border: 3px solid #7DB9DF; margin-left: 10px; margin-top: 20px; margin-bottom: 10px; margin-right: 10px; padding-bottom: 15px;">
            <div style="width:800px">
                <div class="headderin" style="margin-top: -18px; width: 400px;">
                    <label style="font-size: 20px; font-weight: bold; background-color: white; padding-left: 5px; padding-right: 5px; color: #193292; margin-left: 20px">Series 400 Stainless Steel</label>
                </div>
                <div style="font-size:14px; font-family:Tahoma; color:#797977; width:850px">
                    <table border="1" cellpadding="0" cellspacing="0" width="720px" style="margin-left:20px; margin-right:20px">
                        <tr>
                            <td align="center" bgcolor="#F0F0F0" class="Std_Font_B" width="10%" style="font-family:Tahoma; font-size:15px"><b>No.</b></td>
                            <td align="center" bgcolor="#F0F0F0" class="Std_Font_B" width="75%" style="font-family:Tahoma; font-size:15px"><b>Description</b></td>
                            <td align="center" bgcolor="#F0F0F0" class="Std_Font_B" width="15%" style="font-family:Tahoma; font-size:15px"><b>Link Detail</b></td>
                        </tr>
                        @{
                            int seq = 0;
                            foreach (var doc in Model)
                            {
                                seq++;
                                <tr style="background-color:white">
                                    <td align="center" class="Std_Font_B" style="font-family:Tahoma; font-size:15px">@seq</td>
                                    <td align="left" class="Std_Font_B" style="font-family:Tahoma; font-size:15px; padding-left:10px">@doc.Description</td>
                                    <td align="center" class="Std_Font_B" style="font-family:Tahoma; font-size:15px">
                                        <a href='javascript:showDocs("/docs/vw/@doc.Id")'>Here</a>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="alert-dismiss">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Notice!</strong> This content cannot be used as legal basis, and use for other purposes and unauthorized reproduction, distribution, or use without our permission is prohibited.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span class="fa fa-times"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="exampleModal" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="height: 95%; width: 100%">
        <div class="modal-content" style="height: 100%">
            <!-- Modal Header -->
            <div class="modal-header">
                <div id="question"></div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body modal-xl" style="width: 100%; height: 100%;">
                <iframe src="" style="width: 100%; height: 95%;" id="iContent"></iframe>
            </div>
        </div>
    </div>
</div>
@section LeftMenu {
    <ul class="menu-vertical" style="color:gray;margin-top:18.5px;font-size:8px;">
        <li class="mv-item" style="background-color:white;border-bottom:1px solid gray;border-top:1px solid gray;"><a href="stainless-steel-guidebook.html" style="font-size: 10.5pt;font-weight:bold">▶&nbsp;<b>Stanless Steel Guidebook</b></a></li>
        <li class="mv-item" style="background-color:white;border-bottom:1px solid gray;"><a href="corrosion.html" style="font-size: 10.5pt;font-weight:bold">▶&nbsp;<b>Corrosion</b></a></li>
        <li class="mv-item" style="background-color:white;border-bottom:1px solid gray;"><a href="welding.html" style="font-size: 10.5pt;font-weight:bold">▶&nbsp;<b>Welding</b></a></li>
        <li class="mv-item" style="background-color:white;border-bottom:1px solid gray;"><a href="forming.html" style="font-size: 10.5pt;font-weight:bold">▶&nbsp;<b>Forming</b></a></li>
        <li class="mv-item border-menu" style="background-color:white;border-bottom:1px solid gray;"><a href="javascript:testclick300()" style="font-size: 10.5pt;"><p class="" style="margin-right:10px;display:none"></p><b>▶&nbsp;Application</b></a></li>
        <li class="subsub-mv-item 300" style="background-color:white;border-bottom:1px solid gray; display:none"><a href="water-tank-industry.html" style="font-size: 10.5pt;"><p class="showmuiten2" style="margin-right:10px;display:none">▶</p>Water Tank Industry</a></li>
        <li class="mv-item border-menu" style="background-color:white;border-bottom:1px solid gray;"><a href="javascript:testclick300()" style="font-size: 10.5pt;"><p class="" style="margin-right:10px;display:none"></p><b>▶&nbsp;Series 400 Stainless Steel</b></a></li>
        <li class="sub-mv-item Production" style="background-color:white;border-bottom: 1px solid gray; display: block;"><a href="about-445nf.html" style="font-size: 11pt;" class="act_sub"><p class="showmuiten1" style="margin-right: 10px; display: inline;">▶</p>445NF</a></li>
    </ul>
}
@section headerCss {
    <style>
        td a:hover {
            color: blue;
            font-weight: bold;
        }
    </style>
}