@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-detail" style="width:980px;margin-left:20%">
    <div class="col-xs-10">
        <h4 class="wow fadeInUp" data-wow-delay="0.6s" style="margin-left:auto; margin-right:auto"><center>SCRAP BIDDING INFORMATION <br /></center></h4>
        <div style="font-family:Tahoma">
            <p style="font-size:14px;"><b>I. CONDITIONS FOR BIDDING</b></p>
            <p style="margin-left:15px">1.&nbsp;&nbsp;Eliminate dishonest customers, expand cooperation with elite and honest customers.</p>
            <p style="margin-left:15px">2.&nbsp;&nbsp;Excellent customers are those who do not violate the contract, do not delay payment, purchase at least 20 tons / month.</p>
            <p style="margin-left:15px">3.&nbsp;&nbsp;New customers eligible for bidding status are evaluated based on the summary of the scale of purchase, investment capital, business license (For specific contact contact person in charge).</p>
            <p style="margin-left:20px">4.&nbsp;&nbsp;When registering new customers, all related documents must be gathered and approved by the General Director, then registered.<br />
        </div>
        <div style="font-family:Tahoma">
            <p style="font-size:14px"><b>II. BIDDING SEQUENCE</b></p>
            <p style="margin-left:15px">1.&nbsp;&nbsp;Before bidding, the person in charge of Posco VST will send a list of type 3 inventories expected to the end of the month.</p>
            <p style="margin-left:15px">2.&nbsp;&nbsp;Participating enterprises are those already registered and eligible for bidding.</p>
            <p style="margin-left:15px">3.&nbsp;&nbsp;The person in charge of selling type 3 will notify customers by email of information on participating in online bidding at Posco VST's website..</p>
            <p style="margin-left:15px">4.&nbsp;&nbsp;At the end of the bidding period, the winning price and winning amount will be notified to customers via website and via email. For the remainder of the product, if the bid winner does not win the bid, the customer may register to buy more at the announced bid winning price.</p>
            <p style="margin-left:15px">5.&nbsp;&nbsp;After finishing, the contract will be made within 3 days, customers make the payment before taking goods.</p>
            <p style="margin-left:15px">6.&nbsp;&nbsp;If violating the terms of the contract or payment terms, a penalty will be imposed (the first violation is not participating in the next bidding, the second violation is not participating in the bid within the next 3 months).</p>
        </div>

        <div style="font-size:14px; font-family:Tahoma; color:#797977; width:800px">
            <div>
                <center><p style="font-size:16px"><b>FOR MORE INFORMATION, PLEASE CONTACT THE PERSON IN CHARGE</b></p></center>
            </div><center>
                <table width="600px" border="1px">
                    <tr>
                        <td align="center">
                            <b>Ms Than Thi Hang</b><br />
                            Tel: 0251 3560 360 (1039)<br />
                            Email: than.hang@posco.net<br />
                        </td>
                        <td align="center">
                            <b>Mr Lee Chang Hoan </b><br />
                            Tel: 0251 3560 360<br />
                            Email: ch.lee@posco.net<br />
                        </td>
                    </tr>
                </table>
            </center>
        </div>
        <div style="font-size:15px; font-family:Tahoma; color:#797977; width:800px">
            <center>
                <br />Please <b><a href="http://bidding.poscovst.com.vn/" style="font-size:16px; color:#4a8af4">click to here</a></b> to join the bid process if you interest, contact Purchasing Dept
            </center>
        </div>
    </div>
</div>

@section LeftMenu {
    <ul class="menu-vertical" style="color:gray;margin-top:18.5px;font-size:8px;">
        <li class="mv-item border-menu" style="background-color:white;border-top:1px solid gray"><a href="recruitment.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma">▶&nbsp;&nbsp;<b>Recruitment</b></a></li>
        <li class="mv-item border-menu" style="background-color:white;border-bottom:1px solid gray;border-top:1px solid gray"><a href="scrap-bidding.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma; background-color:#a2c9f0">▶&nbsp;&nbsp;<b>Scrap Bidding</b></a></li>
        <li class="mv-item border-menu" style="background-color:white;border-bottom:1px solid gray"><a href="purchasing.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma">▶&nbsp;&nbsp;<b>Purchasing</b></a></li>
        <li class="mv-item border-menu" style="background-color:white;border-bottom:1px solid gray"><a href="ethics.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma">▶&nbsp;&nbsp;<b>Ethics </b></a></li>
    </ul>
}