@{
    string fbMsgUrl = "https://www.messenger.com/t/103854038169058";
    if (Request.Browser.IsMobileDevice)
    {
        fbMsgUrl = "https://m.me/103854038169058";
    }
}
<a href="@fbMsgUrl" target="_blank">
    <div class="fb-wrap pulsing">
        <img id="fb-img" src="~/media/images/icon/face-b.png" />
    </div>
</a>