
@{
    ViewBag.Title = "PurchaseStandard";
    Layout = "~/Views/Shared/_Layout_Purchasing.cshtml";
}

<div class="purchasing-lang__vn">

    <div class="container">
        <ul>
            <li class="treeview">
                <h3 class="swrap_one">
                    Hướng dẫn tiêu chuẩn mua hàng POSCO VST
                </h3>
                <ul class="treeview-menu">
                    <li>
                        <h4 class="swrap_two"> <i class="fa fa-cog" aria-hidden="true"></i>  Vận hành Item Code</h4>
                        <ul class="treeview-menu">
                            <li>
                                <p>
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Phải thực hiện quy trình mua hàng minh bạch và có hệ thống là: tất cả các mặt hàng phải có Item Code trên cơ sở đó để quản lý và yêu cầu mua , hợp đồng, kiểm tra, quản lý hàng tồn kho, phát hàng và nhiều hơn nữa.
                                </p>

                                <p>
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i> <b>Người mua</b> xác định hàng hóa đã mua dựa trên thông số kỹ thuật của mặt hàng và tính toán giá cả hợp lý
                                </p>
                                <p>
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i> <b>Nhà cung cấp</b> đáp ứng chính xác nhu cầu của người mua thông qua các thông số kỹ thuật
                                </p>
                                <p>
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i> <b>Người dùng</b> thực hiện kiểm tra theo thông số kỹ thuật hợp đồng để đảm bảo chất lượng và quản lý vật liệu hiệu quả, bao gồm quản lý hàng tồn kho tiếp theo.
                                </p>
                                <p class="rectangle-style">
                                    Tiêu chuẩn hóa hàng hóa <br />
                                    nguyên tắc cơ bản
                                </p>
                                <p class="rectangle-style">
                                    Một vật phẩm<br />
                                    Một mã quản lý
                                </p>
                                <p class="rectangle-style">
                                    Một vật phẩm<br />
                                    Một giá quản lý

                                </p>
                                <p class="rectangle-style">
                                    Thông số kỹ thuật chính xác là cơ sở <br />
                                    kiểm soát chất lượng và chi phí

                                </p>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <h4 class="swrap_two">
                            <i class="fa fa-cog" aria-hidden="true"></i>  Quản lý chuỗi cung ứng (SRM : Supplier Relationship Management)
                        </h4>
                        <ul class="treeview-menu">
                            <li>
                                <p>
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> <b>Duy trì quá trình tối ưu hóa chuỗi cung ứng thông qua khám phá nhà cung cấp, đánh giá quy trình thực hiện hợp đồng, quản lý sau, v.v.</b>
                                </p>
                                <h4 style="font-weight:bold;">
                                    [Hệ thống quản lý VST]
                                </h4>
                                <div style="border: 1px solid #0084ff;padding: 10px 5px 2px 5px;">

                                    <p class="rectangle-style"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>  Nhà cung cấp theo nhóm, nguồn </p>
                                    <p class="rectangle-style">
                                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                        Đánh giá thực tế giao hàng
                                    </p>
                                    <p class="rectangle-style">
                                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                        Quản lý hậu mãi ( về sau)
                                    </p>
                                    <div style="display:inline-block">
                                        <p><b> <i class="fa fa-check-circle-o" aria-hidden="true"></i> Luôn mua hệ điều <br /> hành hệ thống </b></p>
                                        <p>- Thiết kế, sản xuất,<br /> chất lượng,<br />đánh giá tại chỗ</p>
                                        <p>- Đăng ký trên 80 điểm</p>
                                    </div>
                                    <div style="display:inline-block">
                                        <p><b> <i class="fa fa-check-circle-o" aria-hidden="true"></i> Tiến hành đánh giá hàng quý <br /> và hàng năm </b></p>
                                        <p>
                                            - 6 dự án đánh giá,<br /> bao gồm chất lượng<br /> và
                                            giá cả
                                        </p>
                                        <p>- Thu thập dữ liệu từ ERP</p>
                                    </div>
                                    <div style="display:inline-block">
                                        <p><b> <i class="fa fa-check-circle-o" aria-hidden="true"></i> Đánh giá và phân tích hiệu <br /> suất phân phối   </b></p>

                                        <p>
                                            - Xuất sắc: Lựa chọn PHP,  <br />ưu đãi hợp  đồng
                                        </p>
                                        <p>- Xếp hạng: Giới hạn đấu thầu,  <br />hủy xếp hạng </p>
                                    </div>
                                </div>
                                <i class="arrow right"></i>
                                <div style="border: 1px solid #0084ff;padding: 10px 5px 2px 5px; margin-top:10px;">
                                    <p><b>Hoạt động của nhà cung cấp PHP</b></p>
                                    <p>
                                        <b>
                                            Lập kế hoạch vận hành PHP <br />
                                            <br />
                                            cho các nhà cung cấp có hiệu suất<br />
                                            giao hàng tốt
                                        </b>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4 class="swrap_two"> <i class="fa fa-cog" aria-hidden="true"></i>  Nguyên Tắc Đấu Thầu</h4>
                        <ul class="treeview-menu">
                            <li>
                                <p><b><i class="fa fa-arrow-right" aria-hidden="true"></i> Tất cả các hợp đồng là nguyên tắc xúc tiến cạnh tranh.</b></p>
                                <p>&#9;- Hủy bỏ hợp đồng và tìm kiếm các nhà cung cấp đủ điều kiện để đấu thầu</p>
                                <p><b><i class="fa fa-arrow-right" aria-hidden="true"></i> Đảm bảo tính minh bạch thông qua hệ thống mua sắm điện tử (e-Pro).</b></p>
                                <p>&#9;- Để đảm bảo công bằng và minh bạch, về nguyên tắc không được phép đấu thầu thủ công</p>
                                <p><b><i class="fa fa-arrow-right" aria-hidden="true"></i> Công bố cụ thể và rõ ràng các điều kiện và kết quả đấu thầu và giữ bí mật quá trình đàm phán.</b></p>
                                <p>
                                    &#9;- Thời hạn chấp nhận báo giá sơ bộ vượt quá 3 ngày, việc mua hàng của TCO phải thông báo trước, để loại bỏ Risk không công bằng.
                                </p>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <h4 class="swrap_two"> <i class="fa fa-cog" aria-hidden="true"></i> Đấu Thầu Điện Tử</h4>
                        <ul class="treeview-menu">
                            <li>
                                <p><b><i class="fa fa-arrow-right" aria-hidden="true"></i> Tự động thông báo giá thầu qua email, giá thầu trang web.</b></p>
                                <p><b><i class="fa fa-arrow-right" aria-hidden="true"></i> Dự án chung, hàng thông thường thực hiện đấu thầu ba vòng.</b></p>
                                <p><b><i class="fa fa-arrow-right" aria-hidden="true"></i> Seal Bidding không thể xác nhận đơn giá tại thời điểm đấu thầu.</b></p>
                                <p><b><i class="fa fa-arrow-right" aria-hidden="true"></i> Nhà cung cấp giá thấp nhất trúng thầu (cùng một điều kiện chất lượng).</b></p>
                                <p>
                                    - <b>【Đàm phán ưu tiên】 </b> Sau khi đấu thầu cuối cùng, nếu giá dự kiến không đạt yêu cầu
                                    Đàm phán ưu tiên với công ty có giá thấp nhất, kiểm tra tối thiểu để xác nhận tính khả dụng của Target Price.
                                </p>
                                <p>
                                    - Đàm phán với công ty có vị trí thứ 1, nếu không thể đàm phán TP được thì tiến hành đàm phán với các công ty có vị trí thứ tiếp theo còn lại để đạt target price.
                                </p>
                                <img src="/media/images/dauthau.PNG" alt="dauthaupicture" />
                            </li>

                        </ul>
                    </li>
                    <li>
                        <h4 class="swrap_two"> <i class="fa fa-cog" aria-hidden="true"></i> Giao Hàng Thanh Toán</h4>
                        <ul class="treeview-menu">
                            <li>
                                <img src="/media/images/quytrinhgiaohang.PNG" alt="quytrinhgiaohang" />
                                <p>
                                    <b><i class="fa fa-arrow-right" aria-hidden="true"></i>Nhận hàng(Receipts)</b>: Hàng hóa được giao từ nhà cung cấp phù hợp với đơn đặt hàng, số lượng và  bề ngoài sản phẩm… Xác nhận rằng nó đã được giao cho
                                    công ty bằng cách đăng ký lên hệ thống ERP.
                                </p>
                                <p>
                                    <b><i class="fa fa-arrow-right" aria-hidden="true"></i>Kiểm tra(Inspection) </b>: Kiểm tra và xác định xem hàng hóa được giao có phù hợp với bản vẽ, thông số kỹ thuật vật liệu, thông số kỹ thuật mua hàng, bản xây dựng
                                    thi công và các vấn đề hợp đồng khác để ngăn chặn vật liệu không phù hợp và ngăn ngừa các vấn đề về chất lượng hàng hóa khi sử dụng.
                                </p>
                                <p>
                                    <b><i class="fa fa-arrow-right" aria-hidden="true"></i>Nhập kho(Receiving)  </b>: Sau khi nhà cung cấp giao tài liệu giao hàng và hàng hóa hợp đồng đến địa điểm được chỉ định, Xác nhận và liệt kê hàng hóa ghi nhận là
                                    tài sản hàng tồn kho và làm thanh toán.
                                </p>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <h4 class="swrap_two"> <i class="fa fa-cog" aria-hidden="true"></i> Xử Lý Vật Tư Không Đạt Chất Lượng</h4>
                        <ul class="treeview-menu">
                            <li>
                                <p>
                                    <b>
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>Khi kết quả kiểm tra vật tư có sự khác biệt với nội dung trên đơn đặt hàng (bản vẽ, quy cách vật tư, điều khoản hợp đồng) lập tức thông báo
                                        cho nhà cung cấp để xử lý cho giao hàng lại hoặc trả hàng.
                                    </b>
                                </p>
                                <img src="/media/images/xualivanhanh.PNG" alt="xulyvanhanh" />

                            </li>

                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="purchasing-lang__kor">
    <div class="container">
        <ul>
            <li class="treeview">
                <h3 href="javascript:void(0)" class="swrap_one">
                    POSCO VST 구매기준 안내
                </h3>
                <ul class="treeview-menu">
                    <li class="">
                        <a href="javascript:void(0)" class="swrap_two">
                            <i class="fa fa-cog" aria-hidden="true"></i> Item Code 운영
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <p>
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> 모든 물품에 Item Code를 부여하여 관리下에 두고, 이를 기반으로 구매신청, 계약, 검수, 재고관리, 불출 등업무를 수행하여 全 구매 프로세스를 투명하고 체계적으로 수행
                                </p>

                                <p>
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i> <b>바이어는 </b>품목별 사양에 의거 구매물품을 특정하고, 합리적인 가격을 산정
                                </p>
                                <p>
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i> <b>공급사는 </b>명확한 사양을 통해 구매자의 요구에 정확하게 대응
                                </p>
                                <p>
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i> <b>사용자는 </b>계약된 사양에 의거 검수를 수행하여 품질을 확보하고 추후 재고관리 등 효율적인 자재관리
                                </p>
                                <p class="rectangle-style">물품표준화의<br>기본원칙</p>
                                <p class="rectangle-style">
                                    하나의 물품에는
                                    <br>하나의 코드 관리
                                </p>
                                <p class="rectangle-style">
                                    하나의 물품에는
                                    <br>하나의 가격 관리
                                </p>
                                <p class="rectangle-style">
                                    정확한 사양은
                                    <br>품질 및 원가관리 기초
                                </p>
                            </li>

                        </ul>
                    </li>
                    <li class="">
                        <a href="javascript:void(0)" class="swrap_two">
                            <i class="fa fa-cog" aria-hidden="true"></i> 공급망 관리 (SRM : Supplier Relationship Management)
                        </a>
                        <ul class="treeview-menu">
                            <li class="">
                                <p>
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> <b>
                                        공급사의 발굴, 계약이행과정의 평가, 사후관리 등을 통해 최적화된 공급망을 유지하는 프로세스
                                    </b>
                                </p>
                                <h4 style="font-weight:bold;">
                                    [ VST 관리체계 ]
                                </h4>
                                <div style="border: 1px solid #0084ff;padding: 10px 5px 2px 5px;">
                                    <p class="rectangle-style">
                                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                        공급사 소싱
                                    </p>

                                    <p class="rectangle-style">
                                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                        납품실적 평가
                                    </p>

                                    <p class="rectangle-style">   <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 사후관리</p>
                                    <div>
                                        <p><b> <i class="fa fa-check-circle-o" aria-hidden="true"></i>상시소싱 체제 운영</b></p>
                                        <p>- 설계∙제작∙품질∙현장평가</p>
                                        <p>- 80점이상 등록</p>
                                    </div>
                                    <div style="display:inline-block">
                                        <p><b> <i class="fa fa-check-circle-o" aria-hidden="true"></i>분기 및 연간 평가 실시</b></p>
                                        <p>- 품질,가격 등 6개항목 평가</p>
                                        <p>- ERP에서 Data수집 </p>
                                    </div>
                                    <div style="display:inline-block">
                                        <p><b> <i class="fa fa-check-circle-o" aria-hidden="true"></i>납품실적 평가 및 분석  </b></p>

                                        <p>- 우수 : PHP선정, 계약우대</p>
                                        <p>- 열위 : 입찰제한,등급취소</p>
                                    </div>
                                </div>
                                <div style="border: 1px solid #0084ff;padding: 10px 5px 2px 5px;margin-top: 10px;">
                                    <p>
                                        <b>
                                            * PHP공급사 운영
                                        </b>
                                    </p>
                                    <p>
                                        납품실적 우수 공급사를<br>
                                        대상으로 PHP 운영예정
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="swrap_two"> <i class="fa fa-cog" aria-hidden="true"></i> 입찰의 원칙</a>
                        <ul class="treeview-menu">
                            <li>
                                <p><b><i class="fa fa-arrow-right" aria-hidden="true"></i> 모든 계약은 경쟁추진 원칙</b></p>
                                <p>   - 수의계약을 지양하고, 자격조건을 갖춘 공급사를 발굴하여 입찰진행</p>
                                <p><b><i class="fa fa-arrow-right" aria-hidden="true"></i> 전자구매시스템(e-Pro) 활용을 통한 투명성 확보</b></p>
                                <p>   - 공정성과 투명성 확보를 위해 수작업 입찰은 원칙적으로 불가 </p>
                                <p><b><i class="fa fa-arrow-right" aria-hidden="true"></i> 입찰조건 및 결과에 대한 구체적이고 명확한 공개, 협상과정에 대한 비밀유지</b></p>
                                <p>
                                    - 예비견적 접수기간은 3일 이상 부여, TCO 구매건은 사전공지 및 설명회 실시 등을 통해 불공정 Risk 제거
                                </p>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="swrap_two"> <i class="fa fa-cog" aria-hidden="true"></i> 전자입찰</a>
                        <ul class="treeview-menu">
                            <li>
                                <p><b><i class="fa fa-arrow-right" aria-hidden="true"></i> 메일로 입찰 자동 통보, 웹사이트 입찰</b></p>
                                <p><b><i class="fa fa-arrow-right" aria-hidden="true"></i> 일반품목은 3회차(ROUND) 입찰 진행</b></p>
                                <p><b><i class="fa fa-arrow-right" aria-hidden="true"></i> Seal Bidding, 입찰중 단가확인 불가</b></p>
                                <p>
                                    <b>
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> 최저가 제시 공급사 낙찰 (동일품질 조건)
                                    </b>
                                </p>
                                <p>
                                    - <b>【우선 협상】 </b> 최종입찰 후 예정가에 못미칠 경우
                                </p>
                                <p> - 최저투찰사와 우선협상, Target Price내 가능여부 확인</p>
                                <p> - 1위사와 TP내 협상 불가시 차순위사와 순차적으로 협상</p><img src="/media/images/dauthau_kor.PNG" alt="dauthaupicture">
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="swrap_two">
                            <i class="fa fa-cog" aria-hidden="true"></i> 납품 및 대금지급
                        </a>
                        <ul class="treeview-menu">
                            <li class="">
                                <img src="/media/images/quytrinhgiaohang_kor.PNG" alt="quytrinhgiaohang">
                                <p>
                                    <b><i class="fa fa-arrow-right" aria-hidden="true"></i>입 하(Receipts) </b> : 공급사로부터 납품되는 물품이 사용부서 주문내용과 수량, 외관 등 측면에서 일치여부를 확인하고 ERP System에 등록함으로써 회사 영내로 납품되었음을 확인하는 업무
                                </p>
                                <p>
                                    <b><i class="fa fa-arrow-right" aria-hidden="true"></i>검수(Inspection) </b>: 납품되는 물품이 도면, 자재규격서, 구입사양서, 시방서 및 기타 계약사항과의 일치  여부를 검사, 시험하고 합격여부를 판정하여 불량자재를 차단하고 공정상의 문제 예방
                                </p>
                                <p>
                                    <b><i class="fa fa-arrow-right" aria-hidden="true"></i>입고(Receiving) </b> : 공급사가 납품서류와 계약물품을 지정된 장소에 인도 한 후, 자재 인수자가 그 내용을                            확인하고 물품을 재고자산으로 등재하고 대금을 지불하는 업무
                                </p>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="swrap_two">
                            <i class="fa fa-cog" aria-hidden="true"></i> 불합격 반출 처리
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <p>
                                    <b>
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>검수결과 계약내용(도면, 자재규격, 계약약관)과 상이한 때에는 불합격 처리하여 공급사에
                                        즉시통보하고 재납품토록 하며 불합격품은 반출 처리한다.
                                    </b>
                                </p>
                                <img src="/media/images/xualivanhanh_kor.PNG" alt="xulyvanhanh">

                            </li>

                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>