
@{
    ViewBag.Title = "VendorEthic";
    Layout = "~/Views/Shared/_Layout_Purchasing.cshtml";
}

<div class="container">

    <ul>
        <li class="treeview">
            <h3 class="swrap_one">
                Chuẩn Mực Đạo Đức Áp Dụng Cho Nhà Cung Cấp
            </h3>
            <ul class="treeview-menu">
                <li>
                    <h4 class="swrap_two">
                        <i class="fa fa-cog" aria-hidden="true"></i>  Khái quát về tiêu chuẩn đạo đức của nhà cung cấp
                    </h4>
                    <ul class="treeview-menu">
                        <li>
                            <p>
                                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Luôn hoạt động minh bạch và công tâm về tất cả các giao dịch để thiết lập thương mại công bằng
                            </p>
                            <p>
                                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Thực hiện mang lại lợi nhuận trong tương lai giữa VST và các nhà cung cấp thông qua các giao dịch công bằng và minh bạch.
                            </p>
                        </li>

                    </ul>
                </li>
                <li>
                    <h3 class="swrap_two">
                        <i class="fa fa-cog" aria-hidden="true"></i>  Tóm tắt tiêu chuẩn đạo đức nhà cung cấp.
                    </h3>
                    <ul class="treeview-menu">
                        <li>
                            <p>
                                <i class="fa fa-arrow-right" aria-hidden="true"></i> Tham gia đấu thầu những mặt hàng có khả năng cung cấp với giá tốt nhất.
                            </p>
                            <p>
                                <i class="fa fa-arrow-right" aria-hidden="true"></i> Khi trúng thầu hay ký hợp đồng thì thực hiện theo quy định.
                            </p>
                            <p>
                                <i class="fa fa-arrow-right" aria-hidden="true"></i> Cấm hành vi thông đồng với nhà cung cấp khác ảnh hưởng đến đấu thầu.
                            </p>
                            <p>
                                <i class="fa fa-arrow-right" aria-hidden="true"></i> Cung cấp vật tư, thông số kỹ thuật đúng theo yêu cầu trên hợp đồng (đơn đặt hàng).
                            </p>
                            <p>
                                <i class="fa fa-arrow-right" aria-hidden="true"></i> Tuân thủ thời gian giao hàng và chất lượng phù hợp.
                            </p>
                            <p>
                                <b>
                                    [Những điều cần tránh] :
                                </b>
                            </p>
                            <p>
                                <i class="fa fa-times-circle-o" aria-hidden="true"></i> Cung cấp tiền hoặc vật phẩm với bên liên quan khi giao dịch.
                            </p>
                            <p>
                                <i class="fa fa-times-circle-o" aria-hidden="true"></i> Phổ biến những tin đồn vô căn cứ / vu khống nhà cung cấp khác và bên liên quan.
                            </p>
                            <p>
                                <b>
                                    [Nội dung yêu cầu]:

                                </b>
                            </p>
                            <p>
                                <b>
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Cung cấp vật tư, thông số kỹ thuật đúng theo yêu cầu trên hợp đồng (đơn đặt hàng).
                                    Chúng tôi sẽ tạo quyền lợi ưu đãi cho quý nhà cung cấp khi thông tin cho chúng tôi biết có hành vi vi phạm
                                    chuẩn mực đạo đức nào đó khi giao dịch với VST.
                                    @*Hình thức khai báo : Bằng website <a href="#">click</a>*@
                                </b>
                            </p>
                            <p>
                                <b> <i class="fa fa-certificate" aria-hidden="true"></i> Nội dung chi tiết tiêu chuẩn đạo đức của nhà cung cấp <a href="\media\POSCO_VST_-_PURCHASING_GENERAL_PROVISION.docx">(Dowload click)</a></b>
                            </p>
                        </li>

                    </ul>
                </li>

                <li>
                    <h3 class="swrap_two">
                        <i class="fa fa-cog" aria-hidden="true"></i> Trang web báo cáo vi phạm chuẩn mực đạo đức.
                    </h3>
                    <ul class="treeview-menu">
                        <li>
                            <p> <b><i class="fa fa-arrow-right" aria-hidden="true"></i> Nếu biết nhân viên của VST hoặc nhà cung cấp nào có hành vi vi phạm chuẩn mực đạo đức, hãy báo cáo với chúng tôi.</b></p>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>
    </ul>
</div>