@{
    ViewBag.Title = "ApplicationOfSTS";
    Layout = "~/Views/Shared/_Layout_NoLeftCategory.cshtml";
}
<div id="content-wrap" style="width:1350px;margin:auto;">
    <div class="content-detail" style="width:900px;margin-left:20%;">
        <div class="col-xs-10">
            <table width="783" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td width="783" height="29">&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="5"></td>
                    </tr>
                    <tr>
                        <td height="100%" style="padding-top:20px">
                            <img src="~/media/images/Application_1.png" width="750" height="500">
                        </td>
                    </tr>
                    <tr>
                        <td height="50">&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="50">&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="5"></td>
                    </tr>
                    <tr>
                        <td height="100%">
                            <img src="~/media/images/Application_2.png" width="750" height="500">
                        </td>
                    </tr>
                    <tr>
                        <td height="50">&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="5"></td>
                    </tr>
                    <tr>
                        <td height="100%">
                            <img src="~/media/images/Application_3.png" width="750" height="500">
                        </td>
                    </tr>
                    <tr>
                        <td height="50">&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="5"></td>
                    </tr>
                    <tr>
                        <td height="100%" style="padding-top:20px">
                            <img src="~/media/images/Application_4.png" width="750" height="500">
                        </td>
                    </tr>
                    <tr>
                        <td height="5"></td>
                    </tr>
                    <tr>
                        <td height="100%" style="padding-top:20px">
                            <img src="~/media/images/Application_5.png" width="750" height="500">
                        </td>
                    </tr>
                    <tr>
                        <td height="100%" style="padding-top:20px">
                            <img src="~/media/images/Application_6.png" width="750" height="500">
                        </td>
                    </tr>
                    <tr>
                        <td height="100%" style="padding-top:20px">
                            <img src="~/media/images/Application_7.png" width="750" height="500">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>