@{
    ViewBag.Title = "Posco VST Corp";
    Layout = "~/Views/Shared/_Layout_NoLeftCategory.cshtml";
}

<div id="content-wrap">
    <!-- HOME -->
    <section id="home" class="slider" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="owl-carousel owl-theme">
                    <div class="item item-first">
                        <div class="caption">
                            <div class="col-xs-offset-1 col-xs-10">
                                <h3>Sturdy And Durable Over Time</h3>
                                <h1>Stainless Steel POSCO VST Vietnam</h1>
                                <a href="application-of-sts.html" class="section-btn btn btn-default btn-gray smoothScroll">Company Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="item item-second">
                        <div class="caption">
                            <div class="col-xs-offset-1 col-xs-10">
                                <h3>Sturdy And Durable Over Time</h3>
                                <h1>Stainless Steel POSCO VST Vietnam</h1>
                                <a href="application-of-sts.html" class="section-btn btn btn-default btn-blue smoothScroll">Company Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="item item-third">
                        <div class="caption">
                            <div class="col-xs-offset-1 col-xs-10">
                                <h3>Meeting Your Life's Needs</h3>
                                <h1>Meet The Needs Of Your Life</h1>
                                <a href="application-of-sts.html" class="section-btn btn btn-default smoothScroll">Production Process</a>
                            </div>
                        </div>
                    </div>
                    <div class="item item-fourth">
                        <div class="caption">
                            <div class="col-xs-offset-1 col-xs-10">
                                <h3>Looking After Your Family</h3>
                                <h1>Wide Application In Life</h1>
                                <a href="application-of-sts.html" class="section-btn btn btn-default btn-blue smoothScroll">Participate In Bidding</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="sub-slide" class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-4">
                    <div class="footer-thumb">
                        <h4 class="wow fadeInUp" data-wow-delay="0.4s">Product of Posco VST</h4>
                        <p class="title-footer" style="font-size:15px"><i class="fa fa-circle-thin" aria-hidden="true"></i> A Kind of Surface</p>
                        <p><a style="font-size:15px" href="production-process-ba.html">&nbsp&nbsp- BA</a></p>
                        <p><a style="font-size:15px" href="production-process-2b.html">&nbsp&nbsp- 2B</a></p>
                        <p class="title-footer" style="font-size:15px"><i class="fa fa-circle-thin" aria-hidden="true"></i> A Kind of Series</p>
                        <p><a style="font-size:15px" href="304cu.html">&nbsp&nbsp- 304</a>, <a style="font-size:15px" href="301cu.html">301</a>, <a style="font-size:15px" href="316316l.html">316L</a></p>
                        <p><a style="font-size:15px" href="#">&nbsp&nbsp- 201</a></p>
                        <p><a style="font-size:15px" href="430.html">&nbsp&nbsp- 430</a>, <a style="font-size:15px" href="409l.html">409L</a>, <a style="font-size:15px" href="439430lx.html">439</a>...</p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="footer-thumb">
                        <h4 class="wow fadeInUp" data-wow-delay="0.4s">Stainless Guide</h4>
                        <div style="font-size:15px">
                            <p class="title-footer"><i class="fa fa-circle-thin" aria-hidden="true"></i> <a style="font-size:15px" href="stainless-steel-guidebook.html">Stainless Guide Book</a></p>
                            <p class="title-footer"><i class="fa fa-circle-thin" aria-hidden="true"></i> <a style="font-size:15px" href="corrosion.html">Corrosion</a></p>
                            <p class="title-footer"><i class="fa fa-circle-thin" aria-hidden="true"></i> <a style="font-size:15px" href="welding.html">Welding</a></p>
                            <p><a style="font-size:15px" href="#">&nbsp&nbsp- 201</a></p>
                            <p><a style="font-size:15px" href="about-445nf.html">&nbsp&nbsp- 430, 409, 439L...</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="footer-thumb">
                        <h4 class="wow fadeInUp" data-wow-delay="0.4s">Contact</h4>
                        <div class="opening-hours">
                            <p class="title-footer" style="font-size:15px"><i class="fa fa-phone-square" aria-hidden="true"></i> Phone:<span> <a href="tel:02513560360" style="font-size:15px;">0251-3560-360</a></span></p>
                            <p class="title-footer" style="font-size:15px"><i class="fa fa-envelope" aria-hidden="true"></i> E-mail:<span> tran.trinh@posco.net</span></p>
                            @{
                                string fbPageUrl = "https://www.facebook.com/Posco-VST-103854038169058";
                                if (Request.Browser.IsMobileDevice)
                                {
                                    if (Request.UserAgent.Contains("iPhone"))
                                    {
                                        fbPageUrl = "fb://profile/103854038169058";
                                    }
                                    else if (Request.UserAgent.Contains("Android"))
                                    {
                                        fbPageUrl = "fb://page/103854038169058";
                                    }
                                    else
                                    {
                                        fbPageUrl = "https://m.facebook.com/Posco-VST-103854038169058";
                                    }
                                }
                            }
                            <p class="title-footer" style="font-size:15px"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook:<span> <a href="@fbPageUrl" style="font-size:15px" target="_blank">Posco VST</a> </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{Html.RenderAction("CoporateCitizenImageSlide", "Home");}
    </div>
</div>

@section headerCss {
    @Styles.Render("~/css/home")
}

@section footerJs {
    @Scripts.Render("~/js/home")
}