@{
    ViewBag.Title = "ShowSiteMap";
    Layout = "~/Views/Shared/_Layout_NoLeftCategory.cshtml";
}
<div id="content-wrap" style="margin:auto;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.8554738604666!2d106.923140215334!3d10.745620062698672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317518906bb43539%3A0xc381ad0d09815d3b!2sC%C3%B4ng%20Ty%20Tnhh%20Posco%20V.S.T!5e0!3m2!1sen!2ssg!4v1585728007751!5m2!1sen!2ssg" width="100%" height="700px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>