body, html {
    height: 100%;
}

.nav-btn {
    display: none;
}

#page-wrap {
    min-height: 70% !important;
    min-height: -webkit-calc(100% - 133px) !important;
    min-height: -moz-calc(100% - 133px) !important;
    min-height: calc(100% - 133px) !important;
}

#logout-sm {
    display: none;
}

#logout-xs {
    display: unset;
}

@media screen and (max-device-width: 1024px) {
    #header-wrapper {
        padding: 0px 15px;
    }

    .slider .item {
        background-size: 100% 100%;
    }

    .navbar-static-top div[style="width:960px;margin:auto;"] div[style="float:right;height:40px"] {
        height: auto !important;
        margin-right: 15px;
    }

        #left-menu,
        .navbar-static-top div[style="width:960px;margin:auto;"] div[style="float:right;height:40px"] a[href="login.html"] {
            display: none;
        }

    #content-wrap {
        width: 980px !important;
    }

    .owl-carousel.owl-theme.owl-loaded.owl-drag {
        touch-action: manipulation;
    }

    #logout-sm {
        display: unset;
    }

    #logout-xs {
        display: none;
    }

    .content-detail {
        margin-left: unset !important;
        max-width: 100%;
        width: 980px !important;
    }

        .content-detail .row {
            max-width: 100%;
        }

        .content-detail .col-xs-11,
        #infographicsRow {
            float: none;
            margin: auto;
        }

            .content-detail .col-xs-11 div[style*="width:850px"] .col-xs-6 {
                height: 350px !important;
            }

                .content-detail .col-xs-11 div[style*="width:850px"] .col-xs-6 img {
                    width: 100% !important;
                    height: 250px !important;
                }

            .content-detail .col-xs-11 div[style*="width:850px"] img[style="width: 90%; display: inline-block;"],
            .content-detail .col-xs-11 img.wow.fadeInUp,
            .navbar-static-top div[style="width:960px;margin:auto;"],
            .content-detail .col-xs-11 div[style*="width:850px"],
            img[src="media/images/picture_Introdution.png"],
            table[style*="width"] {
                width: 100% !important;
            }

    .modal-dialog[style="height: 95%; width: 100%"] {
        width: 95% !important;
    }

    .Std_Font_B[style*="/media/images/banner.jpg"] {
        background-size: cover;
    }

    .content-detail .col-xs-11 table[style="margin-left:20px; margin-right:20px"] {
        margin: auto !important;
        width: 95% !important;
    }

        .content-detail .col-xs-11 table[style="margin-left:20px; margin-right:20px"] > tbody > tr td:first-child {
            width: 10% !important;
        }

            .content-detail .col-xs-11 table[style="margin-left:20px; margin-right:20px"] > tbody > tr td:first-child + td {
                width: 70% !important;
            }

                .content-detail .col-xs-11 table[style="margin-left:20px; margin-right:20px"] > tbody > tr td:first-child + td + td {
                    width: 20% !important;
                }
}

@media screen and (max-device-width: 1024px) and (orientation: portrait) {
    h4 {
        font-size: 2.5em;
    }

    .navbar-default {
        padding: 25px 10px 10px;
    }

    #navbar_menu {
        width: 100%;
    }

        #navbar_menu > ul {
            padding: 0px 25px;
        }

            #navbar_menu > ul > li {
                margin-bottom: 10px;
            }

        #navbar_menu ul ul li {
            height: auto !important;
        }

    .content-detail .col-xs-11 div[style*="width:850px"],
    .content-detail .col-xs-11 div[style*="width:850px"] table tbody tr[height="20"] td,
    .content-detail .col-xs-11 div[style*="width:850px"] table tbody tr td[style*="font-size:15px"],
    .content-detail .col-xs-11 table tbody tr[style="font-size:15px; font-family:Tahoma"],
    .lb-data .lb-caption, .lb-data .lb-number, #accordian .h5 span,
    .notifyjs-metro-base .title, .notifyjs-metro-base .text,
    .section-btn, .alert,
    .meta, font[size="+1"],
    a, b, p, strong, label {
        font-size: 25px !important;
        line-height: 40px !important;
    }

    .alert-dismiss .alert-dismissible .close {
        font-size: 25px;
        top: -80px;
        right: unset;
    }

    table[style="font-family:Tahoma; font-size:12px; color:#75758b"] * {
        font-size: 11.5px !important;
    }

    .content-detail .col-xs-11 div[style="font-family:Tahoma; color:#797977"] {
        margin-top: 15px;
    }

    .navbar-static-top div[style="width:860px;margin:auto; height:auto;"],
    .content-detail .col-xs-11 table[width="783"],
    .content-detail .col-xs-11 table[width="783"] img {
        width: 100% !important;
    }

    #home h3,
    #sub-slide h4 {
        font-size: 25px !important;
    }

    .content-detail .col-xs-11 div[style*="width:800px"] {
        font-size: 25px !important;
        width: 100% !important;
    }

    .content-detail .col-xs-11 table[width="600px"] {
        width: 800px !important;
    }

    img[src="/media/images/poscovstlogo.png"] {
        width: 100% !important;
        height: auto !important;
    }

    img[src="/media/images/icon/SLOGANVST.png"] {
        width: 90% !important;
        height: auto !important;
    }

    div[style*="height: 576px;"] {
        font-size: 25px !important;
        height: 890px !important;
    }

        div[style*="height: 576px;"] > div {
            width: 100% !important;
        }

        div[style*="height: 576px;"] .divleft {
            width: 40% !important;
            margin-left: 40px !important;
        }

        div[style*="height: 576px;"] .divright {
            width: 40% !important;
            margin-right: 50px !important;
        }

        div[style*="height: 576px;"] table {
            min-width: 350px;
        }

    .modal-header .close {
        font-size: 50px;
        margin-top: -20px !important;
    }

    #exampleModal .modal-body {
        padding: unset !important;
    }

        #exampleModal .modal-body iframe {
            height: 95% !important;
        }

    img[src="media/images/VST_stone.png"] {
        width: unset !important;
        height: unset !important;
    }

    .angle-up-btn {
        bottom: unset;
    }

    .footer-link.col-xs-12 {
        float: none !important;
        text-align: center;
    }

    .border-top {
        padding-top: 1.5em;
        margin-bottom: 1em;
    }

    .archive_list .title {
        max-height: 4.5em !important;
    }

    .headderin {
        margin-top: -23px !important;
        width: 400px !important;
    }

    .headtable {
        width: 100% !important;
    }

    .fb-wrap {
        height: 80px !important;
        width: 80px !important;
    }

    .Std_Font_B[style*="/media/images/banner.jpg"] > div * {
        margin-top: unset !important;
        margin-bottom: unset !important;
    }

    #page-wrap {
        min-height: 70% !important;
        min-height: -webkit-calc(100% - 204px) !important;
        min-height: -moz-calc(100% - 204px) !important;
        min-height: calc(100% - 204px) !important;
    }
}

/*set category up to down when mobile loading*/
@media screen and (max-device-width: 1024px) and (orientation: portrait) {
    .nav-btn {
        margin: 15px 30px 0 0;
        padding-top: 10px;
        cursor: pointer;
    }

        .nav-btn span {
            display: block;
            width: 35px;
            height: 5px;
            background: #b3aaaa;
            margin: 4px 0;
            border-radius: 15px;
            -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            box-shadow: 0 0 0 4px rgba(99, 96, 96, 0.03);
        }

    .sbar_collapsed .nav-btn span {
        transform: none;
        opacity: 1;
    }

    .nav-btn {
        margin-left: 40px;
    }

    .nav-btn {
        display: block;
    }

    .sbar_collapsed {
        display: none;
    }

    #navbar_menu > ul > li {
        width: 100%;
    }

    #navbar_menu ul ul {
        max-width: 100%;
        min-width: 50%;
        width: unset;
        z-index: 10;
    }
}
