<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="log4net.Config" value="log4net.config" />
  <add key="PathSettings.config" value="PathSettings.config" />
  <add key="log4net.Internal.Debug" value="true" />
  <add key="Compression" value="true" />
  <add key="EnableBundles" value="true" />
  <add key="EnableMonitorPerRequest" value="false" />
  <add key="VisitorsCounterFilePath" value="/visitors-counter.json" />
  <add key="Image.News.Path" value="/media/images/News/" />
  <add key="Thumbnail.News.Path" value="/media/thumbnails/News/" />
  <add key="Pdf.Path" value="/docs/" />
  <add key="Template.Email.Path" value="/Template/Email/email.html" />
  <add key="Upload.Path" value="/Upload/" />
  <add key="VerifyEmail" value="anhhuy.le@posco.net" />
  <add key="ApprovalEmail" value="" />
</appSettings>